<div class="discite__action {modifier ? `discite__action--${modifier}` : ''}">
    {#if modifier === 'home' && cta.actionToRecord }
        <a class="discite__action-link--main" href="{cta.actionToRecord.move}">Move to Learner Record</a>
        <a class="discite__action-link--main" href="{cta.actionToRecord.skip}">I did not attend</a>
    {/if}
    {#if cta.url}
        <a class="discite__action-link--main" href="{cta.url}">{$i18n(cta.message)}
            <span class="visuallyhidden">{cta.accessibilityHelper}</span>
        </a>
    {/if}

    {#if (cta.isInLearningPlan === true) && (modifier === 'search')}
        <span>Already in your learning plan</span>
    {/if}

    {#if cta.actionToPlan}
        {#if (cta.actionToPlan.url && cta.actionToPlan.type === 'Add')}
            <a class="discite__action-link" href="{cta.actionToPlan.url}">Add <span class="visually-hidden">{course.title}</span> to learning plan</a>
        {:elseif (cta.actionToPlan.url && cta.actionToPlan.type === 'Delete')}
            <a class="discite__action-link" href="{cta.actionToPlan.url}">
                Remove <span class="visuallyhidden">{course.title}> from learning plan</span>
            </a>
        {/if}
    {/if}
</div>
