<fieldset>
    <legend>
      <h4 class="heading-small">Accessibility requirement</h4>
    </legend>

    <div class="multiple-choice">
        <input id="accessibility-req-1" name="accessibility-reqs" type="checkbox" value="sign-language">
        <label for="accessibility-req-1">Sign language interpreter</label>
    </div>

    <div class="multiple-choice">
        <input id="accessibility-req-2" name="accessibility-reqs" type="checkbox" value="cart">
        <label for="accessibility-req-2">CART (communication access real-time translation) services</label>
    </div>
    <div class="multiple-choice">
        <input id="accessibility-req-3" name="accessibility-reqs" type="checkbox" value="large-print">
        <label for="accessibility-req-3">Large print</label>
    </div>
    <div class="multiple-choice">
        <input id="accessibility-req-4" name="accessibility-reqs" type="checkbox" value="braille">
        <label for="accessibility-req-4">Braille</label>
    </div>
    <div class="multiple-choice">
        <input id="accessibility-req-5" name="accessibility-reqs" type="checkbox" value="assistive-listening">
        <label for="accessibility-req-5">Assistive listening device</label>
    </div>
    <div class="multiple-choice">
        <input id="accessibility-req-6" name="accessibility-reqs" type="checkbox" value="assistant">
        <label for="accessibility-req-6">An assistant will accompany me</label>
    </div>

    <div class="multiple-choice">
        <input id="accessibility-req-7" name="accessibility-reqs" type="checkbox" value="other">
        <label for="accessibility-req-7">Other</label>
    </div>
</fieldset>