<div class="discite__item u-clearfix {modifier ? `discite__item--${modifier}` : ''}">
    <slot name="main">
        <DisciteCourseMain {course} {modifier} {module} />
    </slot>

    <slot name="properties">
        <DisciteCourseProperties course={course} {modifier} {module}  />
    </slot>

    {#if course.modules.length > 1 }
        <div class="discite__area">
            <p class="font-small discite__counter">
                This course comprises of {course.modules.length} modules
            </p>
        </div>
    {/if}

    {#if course.shortDescription}
    <div class="discite__desc {modifier ? `discite__desc--${modifier}` : ''}">
        {course.shortDescription}
    </div>
    {/if}

    <div class="discite__area">
        {#if course.nextRequiredBy($signedInUser)}
            Due by: {$datetime.formatDate(course.nextRequiredBy($signedInUser))}
        {:elseif course.getAreasOfWork().length}
            Work area: {course.getAreasOfWork().map(function(aow) { return $i18n('areas-of-work')[aow]}).join(', ')}
        {/if}
    </div>

    <slot name="actions">
        <DisciteCourseActions {course} {modifier} {module} today={modifier === home ? New Date() : null} />
    </slot>


</div>

<script>
	import DisciteCourseActions from './disciteParts/DisciteCourseActions.html'
	import DisciteCourseProperties from './disciteParts/DisciteCourseProperties.html'
    import DisciteCourseMain from './disciteParts/DisciteCourseMain.html'


	export default {
		data() {
			return {
			}
		},

		components: {
		    DisciteCourseActions,
		    DisciteCourseProperties,
		    DisciteCourseMain
		}
	}
</script>