<div class="discite__item u-clearfix discite__item--{{modifier || ''}}">
    <div class="discite__main discite__main--{{modifier}}">
        <a class="lpg-resource-link" href="/resources/{{resource.id}}">
            <h3 class="heading discite__heading lpg-resource-name">
                {{resource.title}}
            </h3>
        </a>
    </div>
    <div class="discite__properties discite__properties--{{modifier || ''}} u-clearfix">
        <ul class="discite__property discite__property--{{modifier || ''}}">
            <li class="discite__property-item">
                {{#if resource.record && resource.record.state && resource.record.state !== 'RETRIEVED' && resource.record.state !== 'ARCHIVED' }}
                <div class="discite__status">
                
                    {{#if resource.getSelectedDate()}}
                    <span class="meta">{{datetime.formatDate(resource.getSelectedDate())}}</span>
                    {{/if}}
                </div>
                {{/if}}
            </li>
          
            <li class="discite__property-item">
                <span class="visuallyhidden">Duration:</span> {{resource.getDuration()}}
            </li>
            {{#if !resource.isRequired(signedInUser)}}
            <li class="discite__property-item">
                <span class="visuallyhidden">Cost:</span> &pound;{{resource.getCost() || 'Free'}}
            </li>
            {{/if}}
        </ul>
    </div>
</div>