<div class="discite__item u-clearfix {modifier ? `discite__item--${modifier}` : ''}">
    <slot name="main">
        <DisciteCourseMain {course} {modifier} {module} />
    </slot>

    <slot name="properties">
        <DisciteCourseProperties course={course} {successId} {modifier} {module}  />
    </slot>

    {#if course.modules.length > 1 }
        <div class="discite__area">
            <p class="font-small discite__counter">
                This course has {course.modules.length} modules
            </p>
        </div>
    {/if}

    {#if course.shortDescription}
    <div class="discite__desc {modifier ? `discite__desc--${modifier}` : ''}">
        {course.shortDescription}
    </div>
    {/if}

    <div class="discite__area">
        {#if course.nextRequiredBy()}
            Due by: {$datetime.formatDate(course.nextRequiredBy())}
        {:elseif course.getAreasOfWork().length}
            Work area: {course.getAreasOfWork().map(function(aow) { return $i18n('areaOfWork')[aow]}).join(', ')}
        {/if}
    </div>

    <slot name="actions">
        <DisciteCourseActions cta={($constructCourseCallToAction(course, modifier))} {course} {modifier} {module} today={modifier === home ? new Date() : null} />
    </slot>

    {#if modifier === "home" && booked === true}
        <div class="discite__item--event">
            <div class="discite__item--main">
                <h3 class="heading discite__heading"><a href="/courses/{course.id}" class="govuk-link">{bookedModule.moduleTitle}</a></h3>
                <p class="discite__property-item">Start date: {$datetime.formatDate(course.getSelectedDate())}</p>
                {#if bookedModule.bookingStatus !== "Cancelled"}
                    <a class="discite__property-item" href="/book/{course.id}/{bookedModule.moduleId}/{bookedModule.eventId}/cancel">Cancel booking</a>
                {/if}
            </div>
            <div class="course-details">
                <p class="discite__property-item no-margin"><span>Type:</span>
                    <span class="lpg-course-type">
                        {#if bookedModule.moduleType === 'face-to-face'}
                           Face to face
                        {:else}
                            {bookedModule.moduleType}
                        {/if}
                    </span>
                </p>
                <p class="discite__property-item no-margin"> <span>Duration: </span>
                    <span class="lpg-course-duration">{duration}</span>
                </p>
            </div>
            <div class="discite__property-item discite__status--home">
                <span class="badge badge--discite badge--info">{bookedModule.state}</span>
            </div>
        </div>
    {/if}
</div>

<script>
	import DisciteCourseActions from './disciteParts/DisciteCourseActions.html'
	import DisciteCourseProperties from './disciteParts/DisciteCourseProperties.html'
    import DisciteCourseMain from './disciteParts/DisciteCourseMain.html'

	export default {
		data() {
			return {
			}
		},

		components: {
		    DisciteCourseActions,
		    DisciteCourseProperties,
		    DisciteCourseMain,
		}
	}
</script>