<div class="discite__item u-clearfix discite__item--module">
    <div class="discite__main discite__main--module {{ modifier ? `discite__main--${modifier}` : ''}}">
            {{#if modifier === "search"}} 
            <a href="/courses/{{course.id}}/{{module.id}}">
                <h3 class="heading bold-small heading--text">
                    {{module.title}}
                </h3>
            </a>
            <div class="discite__area {{modifier ? `discite__area--${modifier}` : ''}}">
                <p class="font-small discite__counter">
					This is a module in <a href="/courses/{{module.course.id}}"><b>{{ module.course.title }}.</b></a>
				</p>

				<p  class="font-small discite__counter--search">There are {{module.course.modules.length}} in total.</p>
             </div>
            {{else}}
            <a href="/courses/{{course.id}}/{{module.id}}">
                <h3 class="heading bold-small heading--text">
                        {{module.title}}
                    </h3>
            </a>
            {{/if}}

        {{#if module.description}}
            <p class="discite__description">{{module.description}}</p>
        {{/if}}
    </div>
    <div class="discite__properties {{modifier ? `discite__properties--${modifier}` : ''}} u-clearfix">
        <ul class="discite__property {{modifier ? `discite__property--${modifier}` : ''}}">
            <li class="discite__property-item">
                <span class="visuallyhidden">Type:</span> {{i18n(module.type)}}
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Duration:</span> {{module.duration || ''}}
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Cost:</span> &pound;{{module.price || 'Free'}}
            </li>
        </ul>
        <div class="discite__status"><span class="badge badge--info ">{{module.state ? i18n(module.state) : ''}}</span></div>
    </div>
    <div class="discite__action discite__action--module">
        {{#if modifier === "search"}} 
        <a href="/courses/{{course.id}}/{{module.id}}">{{ i18n('action_' + (module.state || 'NOT_STARTED' )) }} <span class="visuallyhidden"> this module</span></a>

        {{#if course.record && !course.isRequired(signedInUser)}}
            {{#if  course.record.state === 'ARCHIVED'}}
                <a class="lpg-add-from-search" href="/suggestions-for-you/add/{{course.id}}?ref={{modifier}}">Add to learning plan</a>
            {{/if}}
        {{else}}
            {{#if !course.isRequired(signedInUser)}}
                <a class="lpg-add-from-search" href="/suggestions-for-you/add/{{course.id}}?ref={{modifier}}">Add to learning plan</a>
            {{/if}}
        {{/if}}
        {{else}}
        <a href="/courses/{{course.id}}/{{module.id}}">{{ i18n('action_' + (module.state || 'NOT_STARTED' )) }} <span class="visuallyhidden"> this module</span></a>
        {{/if}}
        
    </div>
</div>
