<div class="discite__item u-clearfix ">
    <div class="discite__main discite__main--module ">
        <a href="/courses/{course.id}/{module.id}">
            <h3 class="heading bold-small heading--text">
                {#if module.title}
                {module.title}
                {:else}
                {course.title}
                {/if}
            </h3>
        </a>
        {#if course.modules.length==1}
        <p class="discite__description">{course.shortDescription}</p>
        {:else}
        {#if module.description}
        <p class="discite__description">{module.description}</p>
        {:else}
        <p class="font-small discite__counter">
            This is a module in <a href="/courses/{course.id}"><b>{ course.title }.</b></a>
        </p>
        <p class="font-small discite__counter">There are {course.modules.length} in total.</p>
        {/if}
        {/if}
    </div>
    <div class="discite__action discite__action--module">
        <a href="/learning-record/{course.id}/{module.id}/feedback?ignore=true">I do not want to leave feedback</a>
    </div>

    <div class="discite__properties  u-clearfix">
        <ul class="discite__property ">
            <li class="discite__property-item">
                <span class="visuallyhidden">Type:</span> {$i18n(module.type)}
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Duration:</span> {module.getDuration() || ''}
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Cost:</span> &pound;{module.price || 'Free'}
            </li>
        </ul>
        <div class="discite__status">
            <a href="/learning-record/{course.id}/{module.id}/feedback">Leave feedback</a>
        </div>
    </div>

</div>