<div class="discite__item u-clearfix {{modifier ? `discite__item--${modifier}` : ''}}">
    <div class="discite__main {{modifier ? `discite__main--${modifier}` : ''}}">
        <a class="lpg-course-link" href="/courses/{{course.id}}">
            <h3 class="heading discite__heading lpg-course-name">
                {{course.title}}
            </h3>
        </a>
    </div>
    <div class="discite__properties {{modifier ? `discite__properties--${modifier}` : ''}} u-clearfix">
        <ul class="discite__property {{modifier ? `discite__property--${modifier}` : ''}}">
            <li class="discite__property-item">
                {{#if course.record && course.record.state && course.record.state !== 'RETRIEVED' && course.record.state !== 'ARCHIVED' }}
                <div class="discite__status">
                    <span class="badge badge--discite badge--info">{{i18n(course.record.state)}}</span>
                    {{#if course.getSelectedDate()}}
                    <span class="meta">{{datetime.formatDate(course.getSelectedDate())}}</span>
                    {{/if}}
                </div>
                {{/if}}
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Type:</span>
                <span class="lpg-course-type">{{i18n(course.getType() || '' )}}</span>
            </li>
            <li class="discite__property-item">
                <span class="visuallyhidden">Duration:</span> {{course.getDuration() || ''}}
            </li>
            {{#if !course.isRequired(signedInUser)}}
            <li class="discite__property-item">
                <span class="visuallyhidden">Cost:</span> &pound;{{course.getCost() || 'Free'}}
            </li>
            {{/if}}
        </ul>
    </div>
    {{#if course.modules.length > 1 }}
        <div class="discite__area">
            <p class="font-small discite__counter">
                This course comprises of {{course.modules.length}} modules
            </p>
        </div>
    {{/if}}
    {{#if course.shortDescription}}
    <div class="discite__desc {{modifier ? `discite__desc--${modifier}` : ''}}">
        {{course.shortDescription}}
    </div>
    {{/if}}
    <div class="discite__area">
        {{#if course.nextRequiredBy(signedInUser)}}
            Due by: {{datetime.formatDate(course.nextRequiredBy(signedInUser))}}
        {{elseif course.getAreasOfWork().length}}
            Work area: {{course.getAreasOfWork().map(function(aow) { return i18n('areas-of-work')[aow];}).join(', ')}}
        {{/if}}
    </div>
    <div class="discite__action {{modifier ? `discite__action--${modifier}` : ''}}">

            {{#if course.record}}
                {{#if course.record.modules && course.record.modules.length && course.record.modules[0].eventId}}
                    <a href="/book/{{course.id}}/{{course.record.modules[0].moduleId}}/{{course.record.modules[0].eventId}}/cancel">Cancel</a>
                {{else}}
                    {{#if course.getType() !== 'face-to-face'}}
                        {{#if course.record.modules.length}}
                            <a href="/courses/{{course.id}}#modules">{{ i18n('action_' + (course.record.modules[0].state || 'NOT_STARTED' )) }}
                                <span class="visuallyhidden"> this course</span>
                            </a>
                        {{else}}
                            <a href="/courses/{{course.id}}#modules">{{ i18n('action_NOT_STARTED') }}
                                <span class="visuallyhidden"> this course</span>
                            </a>
                        {{/if}}
                    {{else}}
                        <a class="lpg-book-course" href="/book/{{course.id}}/{{course.modules[0].id}}/choose-date">Book
                            <span class="visuallyhidden"> this module</span>
                        </a>
                    {{/if}}
                    {{#if !course.isRequired(signedInUser)}}
                        {{#if course.record.state === 'ARCHIVED'}}
                            <a class="lpg-add-from-search" href="/suggestions-for-you/add/{{course.id}}?ref={{modifier}}">Add to learning plan</a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{else}}
                {{#if course.getType() !== 'face-to-face'}}
                    <a href="/courses/{{course.id}}#modules">Start
                        <span class="visuallyhidden"> this course</span>
                    </a>
                {{else}}
                    <a class="lpg-book-course" href="/book/{{course.id}}/{{course.modules[0].id}}/choose-date">Book
                        <span class="visuallyhidden"> this module</span>
                    </a>
                {{/if}}
                {{#if !course.isRequired(signedInUser)}}
                    <a class="lpg-add-from-search" href="/suggestions-for-you/add/{{course.id}}?ref={{modifier}}">Add to learning plan</a>
                {{/if}}
            {{/if}}

            {{#if !course.isRequired(signedInUser) && !(course.record && course.record.modules && course.record.modules.length && course.record.modules[0].eventId)}}

                    <a href="/home?delete={{course.id}}">Remove
                        <span class="visuallyhidden"> this module</span>
                    </a>

            {{/if}}

    </div>
</div>