<div class="container container--main">
    <div class="grid-row">
        <div class="column-full">
            <div class="feedback">
                <a class="feedback-prompt" href="">Is there anything wrong with this page?</a>
                <div class="feedback-details">
                    <h2>Help us improve Civil Service Learning</h2>
                    <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                    <form autocomplete="nope" action="/feedback.record" method="post">
                        <label for="whatDoing">What were you doing?</label>
                        <input name="whatDoing" id="whatDoing">
                        <label for="wentWrong">What went wrong?</label>
                        <input name="wentWrong" id="wentWrong">

                        <button class="button" name="commit" type="submit">Send</button>
                        <input type="hidden" name="_csrf" value="{_csrf}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
