<div class="resource__item">
    <div class="resource__main">
        {{#if course.getType() === 'link'}}
            <a href="/courses/{{course.id}}" class="resource__title" target="_blank">
                {{course.title}}
            </a>
        {{else}}
            <a href="/courses/{{course.id}}" class="learning__title">
                {{course.title}}
            </a>
        {{/if}}
        <span class="resource__action">
            {{#if course.record}}
                {{#if course.record.eventId}}
                    <a href="/book/{{course.id}}/{{course.record.moduleId}}/{{course.record.eventId}}/cancel">Cancel</a>
                {{else}}
                <a href="/courses/{{course.id}}/{{course.record.moduleId}}">Resume</a>
                    {{#if !course.isRequired(signedInUser)}}
                        <a href="/courses/{{course.id}}/delete">Delete</a>
                    {{/if}}
                {{/if}}
            {{/if}}
        </span>
    </div>
    <div class="resource__info">
        <span>
            {{#if course.nextRequiredBy(signedInUser)}}
                Due by {{formatDate(course.nextRequiredBy(signedInUser))}}
            {{/if}}
        </span>

    </div>
    <div class="resource__duration">
        <span>
        {{course.getType() === 'blended' ? '' : i18n(course.getType()) + (course.duration ? ', ' : '')}}
        {{course.duration}}
        </span>
    </div>
    <div class="resource__status">
        {{#if course.record && course.record.state }}
        <span class="badge badge--info badge--smaller">{{i18n(course.record.state)}}</span>
        {{/if}}
        {{#if course.getSelectedDate()}}
        <span class="meta">{{formatDate(course.getSelectedDate())}}</span>
        {{/if}}
    </div>
</div>
