<div class="resource resource--feedback">
    <ul class="resource__item u-clearfix">
        <li class="resource__long">
            <a href="/courses/{{course.id}}">{{ module.title || course.title }}</a>
        </li>
        <li class="resource__leave">
            <a href="/learning-record/{{course.id}}/{{module.id}}/feedback">Leave feedback</a>
            <a href="/learning-record/{{course.id}}/{{module.id}}/feedback?ignore=true" class="resource__cancel-feedback" title="Cancel, I don't want to leave any feedback.">Cancel<span class="visuallyhidden">, I don't want to leave feedback</span></a>
        </li>
    </ul>
</div>
