<table class="u-space-b30">
    <thead>
        <tr>
            <th class="table--fix-first">Course title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Completion date</th>
        </tr>
    </thead>
    <tbody>
        {#each courses as course}
        <tr>
            <td>
                <a href="/courses/{course.id}">{course.title} </a>
            </td>
            <td>{$i18n(course.getType())}</td>
            <td>{course.getDuration() || '-'}</td>
            <td>{course.getCompletionDate($signedInUser) ? $datetime.formatDate(course.getCompletionDate($signedInUser)) : ''}</td>

        </tr>
        {/each}
    </tbody>
</table>