<div class="learning">
    <div class="grid-row">
        <div class="learning__actions column-third">
            {{#if course.type === 'link'}}
                <a href="/courses/{{course.uid}}" class="learning__title" target="_blank">
                    {{course.title}}
                </a>
            {{else}}
                <a href="/courses/{{course.uid}}" class="learning__title">
                    {{course.title}}
                </a>
            {{/if}}
            {{#if course.state}}
                {{#if course.type === 'elearning'}}
                <a href="/courses/{{course.uid}}/do">Resume</a>
                {{else}}
                <a href="/courses/{{course.uid}}">Resume</a>
                {{/if}}
                {{#if !course.isRequired(signedInUser)}}
                <a href="/courses/{{course.uid}}/delete">Delete</a>
                {{/if}}
            {{/if}}
        </div>

        <span class="learning__progress">{{i18n(course.state || 'not started')}}</span>

        <div class="column-one-third learning__information">
            <p class="learning__information-desc">
                {{#if course.requiredBy}}
                    Required by {{formatDate(course.nextRequiredBy())}}
                {{/if}}
            </p>

            <ul class="learning__information-list">
                <li>{{i18n(course.type)}}</li>
                <li>{{course.duration}}</li>
            </ul>
        </div>
    </div>
</div>
