<aside role="complementary">
    <form autocomplete="nope" name="searchLearning" method="get" action="/search">
        <input type="hidden" id="q" name="q" value="{ query }" />
        <div class="govuk-related-items govuk-related-items--flush form-group  govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox">

            <fieldset>

                <legend>
                    <h2 class="heading-medium">Learning type</h2>
                </legend>
                {#each Object.entries($i18n('courseTypes')) as filter}
                    <div class="multiple-choice">
                        <input type="checkbox" value="{filter[0]}" name="courseType" id="{filter[0]}"  checked="{(courseType || []).indexOf(filter[1]) > -1 ? 'checked' : ''}" >
                        <label for="{filter[0]}">{filter[1]}</label>
                    </div>
                {/each}
            </fieldset>
        </div>

        <div class="govuk-related-items govuk-related-items--flush form-group  govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox">
            <fieldset>

                <legend>
                    <h3 class="heading-medium">Cost</h3>
                </legend>

                <div class="multiple-choice">
                        <input type="checkbox" name="cost" value="free" checked="{(cost || []).indexOf('free') > -1 ? 'checked' : ''}"  >
                        <label for="cost">Show only free</label>
                    </div>
            </fieldset>
        </div>

        <button type="submit" class="button" >Apply search filters</button>
    </form>
</aside>
