<div class="levels__col">
	<ul class="levels__list">
        {{#each Object.entries(levelOptions) as option}}
            <li>
                {{#if level !== 3}}
                    <a href="/profile/areas-of-work/{{selectedArr ? selectedArr.slice(0, level).join('/') : '' }}{{level > 0 ? '/' : ''}}{{option[0]}}" class="levels__link {{selectedArr && option[0] === selectedArr[level] ? 'levels__link--selected' : '' }}">{{(option[1])}}</a>
                {{else}}
                    <a href="/profile/areas-of-work/?select={{option[0]}}" class="levels__link {{selectedArr && option[0] === selectedArr[level] ? 'levels__link--selected' : '' }}">{{(option[1])}}</a>
                {{/if}}

            </li>
        {{/each}}
        {{#if selectedArr}}
         <li>

            <a
                href="/profile/areas-of-work/?select={{selectedArr[level] && selectedArr.length !== level ? selectedArr[level] :''}}"
                class="levels__link levels__link--unsure {{selectedArr.length === level ? 'levels__link--last' : '' }}">
                Choose this level
            </a>

        </li>
        {{/if}}
	</ul>
</div>
