<div class="levels__col levels__col--4">

	<ul class="levels__list">
        {{#each Object.entries(levelOptions) as option}}

            <li>
                <a href="/profile/areas-of-work/{{selected ? selected + '/' : ''}}{{option[0]}}" class="levels__link {{selectedArr && option[0] === selectedArr[level] ? 'levels__link--selected' : '' }}">{{(option[1])}}</a>
            </li>
        {{/each}}
		<li>
			<a
				href="/profile/areas-of-work/"
				class="levels__link levels__link--unsure">
				Choose this level
			</a>
		</li>
	</ul>
</div>
