<fieldset class="u-space-b30">
    {#if lede}
        <legend>
            <p class="lede">
                {lede}
            </p>
        </legend>
    {/if}
    {#each options as option}
        {#if inputName === "primary-area-of-work"}
            <div class="multiple-choice">
                <input id="{option[1].name}" type="radio" name="{inputName}" value="/professions/{option[1].id}" checked="{value == (option[1].name || option[0].name) ? 'checked' : ''}">
                <label for="{option[1].name}">{option[1].name}</label>
            </div>
        {:else}
            <div class="multiple-choice">
                <input id="{option[1]}" type="radio" name="{inputName}" value="{option[0]}" checked="{value == (option[1] || option[0]) ? 'checked' : ''}">
                <label for="{option[1]}">{option[1]}</label>
            </div>
        {/if}
    {/each}
</fieldset>