<div class="answers">
    <div class="question-contents">
        <h1><strong>{question.theme}</strong></h1>
        <p class="new-lines">{question.value}</p>
        {#if multipleAnswers}
        <p><strong>Select all correct answers</strong></p>
        {:else}
        <p><strong>Select one correct answer</strong></p>
        {/if}
        {#each keys as key}
        <div class="multiple-choice">
            <input checked="{attemptedAnswers.includes(key.value)}" type="{multipleAnswers ? 'checkbox' : 'radio'}" value={key.value} name="answers" id="{key.value}" />
            <label for={key.value}>{key.value}) {question.answer.answers[key.value]}</label>
        </div>
        {/each}
        <p class="screen-reader-text">{question.alternativeText === undefined ? 'Alternative text' : question.alternativeText}</p>
        <div>
        </div>
    </div>
</div>
