<aside class="lpg-related-items lpg-related-items--course-overview" role="complementary">
    <table class="table-simple table--top">
        <caption class="visuallyhidden">Details about the course</caption>
        <tbody>
        {#if dataRows.dataRows.length}
            {#each dataRows.dataRows as row}
            <tr>
                <th class="lpg-related-items__th">{row.label}</th>
                {#if row.label === "Cost"}
                    <td class="lpg-related-items__td">{row.value} (ex VAT)</td>
                {:else}
                    <td class="lpg-related-items__td">{row.value}</td>
                {/if} 
            </tr>
            {/each}
        {/if}
        </tbody>
    </table>
</aside>
