<div class="tile">
	<h4 class="heading-small">
		<a href="/courses/{{course.id}}">
			{{course.title}}
		</a>
	</h4>

	<p class="tile__attribution">Recommended by profession</p>
	<ul class="tile__properties">
            <li class="tile__property">
                <span class="tile__key">Type</span>
                <span class="tile__value">{{course.getType()}}</span>
            </li>

            <li class="tile__property">
                <span class="tile__key">Duration</span>
                <span class="tile__value">{{course.getDuration}}</span>
            </li>


            <li class="tile__property">
                <span class="tile__key">Cost</span>
                <span class="tile__value">{{course.price ? course.price : 'Free'}}</span>
            </li>

    </ul>
	<p>
		{{course.shortDescription}}
	</p>
	<p class="tile__actions">
		<a href="/suggestions-for-you/add/{{course.id}}?ref=home">
			Add to learning plan
		</a>
		<a href="/suggestions-for-you/remove/{{course.id}}?ref=home">
			Remove
			<span class="visuallyhidden">from suggested learning list</span>
		</a>
	</p>
</div>
