<PageNoNav title="Enter your name" {_csrf}>
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span class="heading-secondary">Set up your profile</span>
                    <span class="heading-primary">Enter your name</span>
                </h1>
                {#if (errors)}
                    <Error errorHeading='Update failed'>
                        {#each errors as error}
                            <p class="error-message">{$i18n(error)}</p>
                        {/each}
                    </Error>
                {/if}
                <form autocomplete="off" method="post" action="/profile/name">
                    <div class="form-group">
                        <label class="form-label" for="given-name">Name</label>
                        <input class="form-control" id="given-name" name="given-name" type="text" {value}">
                    </div>
                    <input type="hidden" name="_csrf" value="{_csrf}">
                    <button type="submit" class="button">Continue</button>
                </form>
            </div>
        </div>
    </div>
</PageNoNav>
<script>
	import PageNoNav from '../../component/PageNoNav.html'
	import Error from '../../component/Error.html'

	export default {
		data() {
			return {
			}
		},

		components: {
			PageNoNav,
			Error
		}
	}
</script>
