<PageNoNav title="Your organisation" {_csrf}>
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span role="heading" aria-level="1" class="heading-secondary">Set up your profile</span>
                    <span role="heading" aria-level="2" class="heading-primary">Your organisation</span>
                </h1>
                {#if (errors)}
                    <Error errorHeading='Update failed'>
                        {#each errors as error}
                            <p class="error-message">{$i18n(error)}</p>
                        {/each}
                    </Error>
                {/if}
                <form autocomplete="off" method="post" action="/profile/organisation">
                    <div class="form-group">
                        <label for="organisation">{$i18n('profile_department_label')}</label>
                        <p class="govuk-body hint no-margin">{$i18n('register_organisation_label_hint')}</p>
                        <select class="form-control" id="organisation" name="organisation" aria-labelledby="organisation">
                            <option value=""></option>
                            {#each options as option}
                                <option label="{option}" value="{option.id}" selected="{value === option.id ? 'selected' : ''}">{option.name}</option>
                            {/each}
                        </select>
                    </div>
                    <input type="hidden" name="_csrf" value="{_csrf}">
                    <button type="submit" class="button">Continue</button>
                </form>
            </div>
            <div class="column-one-third">
            </div>
        </div>
    </div>
</PageNoNav>
<script>
	import PageNoNav from '../../component/PageNoNav.html'
	import Error from '../../component/Error.html'

	export default {
		data() {
			return {
			}
		},

		components: {
            PageNoNav,
            Error
		}
	}
</script>
