<PageNoNav title="Your organisation" {_csrf}>
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    <span role="heading" aria-level="1" class="heading-secondary">Set up your profile</span>
                    <span role="heading" aria-level="2" class="heading-primary">Your organisation</span>
                </h1>
                {#if (errors)}
                    <Error errorHeading='Update failed'>
                        {#each errors as error}
                            <p class="error-message">{$i18n(error)}</p>
                        {/each}
                    </Error>
                {/if}
                <form autocomplete="off" method="post" action="/profile/organisation">
                    <div class="form-group">
                        <label class="form-label" for="organisation">Organisation</label>
                        <select class="form-control" id="organisation" name="organisation">
                            <option value=""></option>
                            {#each options as option}
                                <option value="{option.value}" selected="{value === option.value ? 'selected' : ''}">{option.text}</option>
                            {/each}
                        </select>
                    </div>
                    <input type="hidden" name="_csrf" value="{_csrf}">
                    <button type="submit" class="button">Continue</button>
                </form>
            </div>
            <div class="column-one-third">
            </div>
        </div>
    </div>
</PageNoNav>
<script>
	import PageNoNav from '../../component/PageNoNav.html'
	import Error from '../../component/Error.html'

	export default {
		data() {
			return {
			}
		},

		components: {
            PageNoNav,
            Error
		}
	}
</script>
