*.log
.DS_Store
.env
.idea
.vscode
.sessions
dist/
node_modules/
package-lock.json
pyhome/
src/management-ui/assets/styles/main.css
src/ui/assets/styles/main.css
yarn.lock
files
data.json
modules.json
