hr.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

a:focus {
	background-color: $focus;
	outline: 3px solid transparent;
	box-shadow: 0 -2px $focus, 0 4px $gds-black;
	text-decoration: none;
}

a:hover {
	color: $govuk-link-hover-colour;
}

input:focus, textarea:focus, select:focus, button:focus, .button:focus {
    outline: 3px solid $focus !important;
    outline-offset: 0;
	box-shadow: inset 0 0 0 2px;
}

.multiple-choice [type=radio]:focus+label::before, .multiple-choice [type=checkbox]:focus+label::before {
    -webkit-box-shadow: 0 0 0 4px $focus;
    -moz-box-shadow: 0 0 0 4px $focus;
    box-shadow: 0 0 0 4px $focus;
	border-width: 4px;
}


 #global-header #logo:focus {
	background-color: $focus;
	outline: 3px solid $focus;
 }


.column-one-sixth {
	@include grid-column(1/6);
}

.search-lede {
	font-size: 19px;
}

.profile-container {
	.heading-large {
		margin-top: 20px;
	}
}

.flash-message {
	background: $flash-message;
	color: #fff;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}

.disabled {
	cursor: not-allowed;
}

.no-results {
	list-style-type: disc;
	list-style-position: inside;
}

.aspect {
	@include e(container) {
		height: 0;
		overflow: hidden;
		width: 100%;
		padding-top: 2/3 * 100%;
		position: relative;
	}

	@include e(content) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		iframe,
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.fullbleed {
	@extend %contain-floats;
	@include m(grey) {
		background-color: $grey-4;
	}
}

@media all and (max-width: 670px) {
	.zero-result {
		margin-top: 10px;
	}
}

.table {
	margin-bottom: 30px;
	@include m(top) {
		td,
		th {
			vertical-align: top;
		}
	}
	@include m(fix-first) {
		@include media(desktop) {
			width: 460px;
		}
	}
}

.link {
	@include m(block) {
		margin-top: 1em;
		display: block;
	}
}

.button {
	@include m(link) {
		@extend %p;
		@extend .link;
		font-size: inherit;
		border: none;
		background: none;
		&:hover {
			cursor: pointer;
		}
	}
}

.button-container {
	padding-top: 30px;
}

.description {
	margin-top: 0;
}

.govuk-body {
	font-size: 19px;
	margin-top: 0;
}

.no-margin {
	margin-bottom: 0;
}

.small-margin {
	margin-bottom: 30px;
}

.hint {
	color: $hint;
}

.back-to-top {
	text-align: right;
}

.banner.profile-banner {
	text-align: center;
	margin-bottom: 0;
	margin-top: 40px;

	p {
		margin-bottom: 0;
	}
}

.custom-column-with-button {
	.headind-xlarge {
		margin-top: 20px;
  }
}

.lpg-course-type,
.lpg-course-duration,
.lpg-course-cost {
	font-weight: bold;
	display: inline-block;

	&::first-letter {
		text-transform: capitalize;
	}
}

.skills-container {
	margin-bottom: 60px;

	.skills {
		padding: 20px;
		background-color: $light-grey;

		.govuk-body {
			font-size: 24px;
		}
	}
}

.skills-list {
	margin-bottom: 30px;
}

.multiple-choice .quiz + label::before {
	top: 12px;
}

.multiple-choice .quiz + label::after {
	top: 21px;
}

.heading-light {
	color: $hint;
	font-weight: normal;

	& + .heading-large {
		margin-top: 0;
	}
}

.right-menu {
	margin-top: 50px;
	border: 1px solid $alt-header-color;
	border-top: 8px solid $cs-red;
	padding: 0 10px 10px 10px;
}


.multiple-choice__input[type= "radio"]{
	cursor: pointer !important;
	position: absolute !important;
	z-index: 1 !important;
	top: 2px !important;
	left: 2px !important;
	width: 44px !important;
	height: 44px !important;
	margin: 0 !important;
	opacity: 0 !important;
}
input.multiple-choice[type= "radio"] label::before {
	content: "" !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	position: absolute !important;
	top: 11px !important;
	left: 10px !important;
	width: 40px !important;
	height: 40px !important;
	border: 2px solid currentColor;
	border-radius: 50%;
	background: transparent;
}

input.multiple-choice[type= "radio"] label::after {
	content: "";
	position: absolute;
	top: 10px !important;
	left: 11px !important;
	width: 0 !important;
	height: 0 !important;
	border: 10px solid currentColor !important;
	border-radius: 50% !important;
	opacity: 0 !important;
	background: currentColor !important;
}
input.multiple-choice__input:checked + label::after {
	opacity: 1 !important;
}

.multiple-choice [type=radio]:focus+label::after {

	top: 9px !important;
	left: 9px !important;
}

.multiple-choice [type=radio]:focus+label::before {

	width: 34px;
	height: 34px;
	top: -2px !important;
	left: -2px !important;
}

.multiple-choice [type=checkbox]+label::after {
	top: 11px !important;
	left: 9px !important;
}

.multiple-choice [type=checkbox]+label::before {
	width: 33px !important;;
	height: 33px !important;;
}

.link--block {
	width: auto;
	display: inline-block;
}