hr.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.column-one-sixth {
	@include grid-column(1/6);
}

.search-lede {
	font-size: 19px;
}

.flash-message {
	background: $flash-message;
	color: #fff;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}

.disabled {
	cursor: not-allowed;
}

.aspect {
	@include e(container) {
		height: 0;
		overflow: hidden;
		width: 100%;
		padding-top: 2/3 * 100%;
		position: relative;
	}

	@include e(content) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		iframe,
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.fullbleed {
	@extend %contain-floats;
	@include m(grey) {
		background-color: $grey-4;
	}
}

.table {
	margin-bottom: 30px;
	@include m(top) {
		td,
		th {
			vertical-align: top;
		}
	}
	@include m(fix-first) {
		@include media(desktop) {
			width: 460px;
		}
	}
}

.link {
	@include m(block) {
		margin-top: 1em;
		display: block;
	}
}

.button {
	@include m(link) {
		@extend %p;
		@extend .link;
		font-size: inherit;
		border: none;
		background: none;

		&:hover {
			cursor: pointer;
		}
	}
}

.skills-container {
	margin-bottom: 60px;

	.skills {
		padding: 20px;
		background-color: $light-grey;

		.govuk-body {
			font-size: 24px;
		}
	}
}

.skills-list {
	margin-bottom: 30px;
}

.govuk-body {
	font-size: 19px;
	margin-top: 0;
}

.no-margin {
	margin-bottom: 0;
}

.small-margin {
	margin-bottom: 30px;
}

.hint {
	color: $hint;
}

.back-to-top {
	text-align: right;
}
