hr.clear {
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.column-one-sixth {
	@include grid-column( 1/6 );
}

.flash-message {
	background: #28a197;
	color: #fff;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}

.disabled {
	cursor: not-allowed;
}

.aspect {
	@include e(container) {
		height: 0;
		overflow: hidden;
		width: 100%;
		padding-top: 2/3 * 100%;
		position: relative;
	}

	@include e(content) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		iframe,
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.fullbleed {
	@extend %contain-floats;
	@include m(grey) {
		background-color: $grey-4;
	}
}

.table {
	margin-bottom: 30px;
	@include m(top) {
		td,
		th {
			vertical-align: top;
		}
	}
	@include m(fix-first) {
		@include media(desktop) {
			width: 460px;
		}
	}
}

.link {
	@include m(block) {
		margin-top: 1em;
		display: block;
	}
}

