@import '../../../../../node_modules/govuk-elements-sass/public/sass/elements/helpers';
// Layout
// ==========================================================================

// Content
// ==========================================================================

.content,
.container {
	@extend %site-width-container;
	@extend %contain-floats;
	@include m(main) {
		padding-bottom: $gutter;
		@include media(desktop) {
			padding-bottom: $gutter * 3;
		}
	}

	@include m(homepage) {
		padding-bottom: 40px;
		@include media(desktop) {
			padding-bottom: 40px;
		}
	}

	outline: none;
}

// Grid layout
// ==========================================================================

// Usage:
// For two equal columns

// <div class="grid-row">
//   <div class="column-one-half">
//
//   </div>
//   <div class="column-one-half">
//
//   </div>
// </div>

// Use .grid-row to define a row for grid columns to sit in
.grid-row {
	@extend %grid-row;
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size
.column-quarter,
.column-one-quarter {
	@include grid-column(1 / 4);
}

.column-half,
.column-one-half {
	@include grid-column(1 / 2);
}

.column-third,
.column-one-third {
	@include grid-column(1 / 3);
}

.column-two-thirds {
	@include grid-column(2 / 3);
}

.column-full {
	@include grid-column(1);
}

.u-clearfix:after,
.u-clearfix:before {
	content: '';
	display: table;
}

.u {
	@include m(space) {
		@include m(y30) {
			margin-top: 30px !important;
		}
	}

	@include m(border) {
		@include m(bgrey2) {
			border-bottom: none;
		}
	}
}
