.badge {
	border-radius: 2px;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	margin: -5px 0;
	min-width: 10px;
	padding: 5px 8px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: lowercase;
	// Default badge
	background-color: $white;
	color: $text-colour;
	border: 1px solid $border-colour;

	&:empty {
		display: none;
	}

	.badge:first-letter {
		text-transform: uppercase;
	}

	@include m(success) {
		background-color: $green;
		color: #fff;
	}

	@include m(warn) {
		background-color: $yellow;
		color: #3c3c3c;
	}

	@include m(info) {
		background-color: $link-colour;
		color: #fff;
	}

	@include m(alert) {
		background-color: $mellow-red;
		color: #fff;
	}

	@include m(success) {
		background-color: $turquoise;
	}

	@include m(smaller) {
		font-size: 80%;
		padding: 3px 5px 2px;
	}

	// In related__status items badges float right
	.related {
		@include e(status) {
			float: right;
			margin-bottom: 10px;
			margin-left: 10px;
		}
	}
}
