$bar-width: 49px;
$bar-height: 16px;
$wrapper-width: 275px;

.bar-rating {
	float: left;

	@include e(scale) {
		height: 24px;
		clear: both;
		max-width: $wrapper-width;
	}

	@include e(1to5) {
		height: 24px;
		clear: both;
		max-width: $wrapper-width;

		ul {
			text-align: center;
		}

		li {
			width: 18%;
			display: inline-block;
			text-align: center;
		}
	}

	@include e(input) {
		position: fixed;
		margin-right: 42px;
		top: 45px;
		z-index: -1;

		&:focus {
			outline: 0;
		}

		&:focus + label {
			outline: 3px solid $focus;
		}
	}

	@include e(wrapper) {
		width: $wrapper-width;
		height: $bar-height;
		clear: both;
		padding: 10px 0;
		position: relative;
		& > label {
			position: relative;
			width: $bar-width;
			height: $bar-height;
			margin-right: 4px;
			background-color: #f3f3f3;
			float: right;
			overflow: hidden;
			text-indent: 100px;
			border: 1px solid #333;
			border-radius: 1px;
			cursor: pointer;

			&:before {
				position: absolute;
				display: inline-block;
				content: ' ';
				width: $bar-width - 2;
				height: $bar-height - 2;
				cursor: pointer;
			}
		}

		& > input:checked ~ label, /* show gold block when clicked */
    &:not(:checked) > label:hover, /* hover current block */
    &:not(:checked) > label:hover ~ label {
			color: #ffd700;
			background-color: #ffd700;
		}

		& > input:checked + label:hover, /* hover current block when changing rating */
    & > input:checked ~ label:hover,
    & > label:hover ~ input:checked ~ label, /* lighten current selection */
    & > input:checked ~ label:hover ~ label {
			color: #ffed85;
			background-color: #ffed85;
		}
	}
}
