.booking {
	@include e(col-heading) {
		padding: 10px 0;
		border-top: 5px solid #000;
	}
	@include e(select-container) {
		width: 88px;
		display: block;
	}
	@include e(select) {
		color: $turquoise;
		border: 2px solid $turquoise;
		border-radius: 5px;
		padding: 2px 5px;
		display: inline-block;
		cursor: pointer;

		@include m(selected) {
			background-color: $turquoise;
			color: #fff;
		}
	}
	@include e(date) {
		display: none;
		+ label .booking__select--selected {
			display: none;
		}
		&:checked + label {
			.booking__select--select {
				display: none;
			}
			.booking__select--selected {
				display: inline-block;
			}
		}
	}
	@include e(detail-h) {
		width: 33%;
	}
	@include e(panel) {
		border-top: 1px solid $grey-2;
		padding-bottom: 20px;
		position: relative;
	}
	@include e(change) {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		@media (max-width: 640px) {
			top: 20px;
			right: 15px;
		}
	}
	@include e(table) {
		th {
			border: none;
			padding: 0;
			span {
				display: none;
			}
		}

		td {
			padding-top: 0;
			padding-bottom: 0;
			border: none;
		}
	}
}

.confirmed {
	@include e(heading) {
		margin-top: 0;
		margin-bottom: 0;
		@include m(caps) {
			text-transform: uppercase;
		}
	}
}

.booking {
	@include e(key) {
		display: inline-block;
		width: 50%;
		@include media($tablet-breakpoint) {
			width: 25%;
		}
	}
}

.cancel {
	@include e(return) {
		float: right;
	}
	@include e(item) {
		@include m(key) {
			width: 50%;
			display: inline-block;
		}
	}
}
