
.breadcrumbs {
  @include breadcrumbs;

  li {
    background-image: url('/img/separator.png');
    text-transform: capitalize;
    @include device-pixel-ratio() {
      background-image: url('/img/separator-2x.png');
    }
  }
}
