.leftSearchBox {
	clear: left;

	legend {
		padding-right: 8px;
		font-weight: bold;
		width: 100%;
	}

	div.multiple-choice {
		padding: 2px 0px 6px 0px;
		margin-top: 8px;
		margin-bottom: 0px;
		width: 100%;

		label {
			margin-left: 45px;
		}
	}
}

@media (min-width: 641px) {
	.form-group {
		margin-bottom: 20px;
	}
}

.lpg-related-items {
	margin-top: 20px !important;
}

.filters {
	.heading-small {
		margin-top: 6px;
	}
}

.filter-headings {
	margin: 8px 0 12px 0;
	font-size: 22px;
	color: #1d70b8;
	font-weight: 700;
}

.filter-headings:focus {
	text-decoration: none;
	outline:3px solid transparent;
	color: #0b0c0c;
	background-color: #fd0;
	box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
}

.filter-headings:hover:focus {
	text-decoration: none;
}

.filter-headings:hover {
	text-decoration: underline;
}

.clear-filters {
	float: left;
	clear: left;
	width: 100%;
	margin: 20px 0px 30px 0px;
}

.hide-filters {
	position: absolute;
	left: -9999px;

	@include media(641px) {
		display: none;
	}
}

.filter-label {
	font-weight: 16px;
	text-align: center;
	background-color: $alt-color;
	display: block;
	padding: 10px 0;
	font-weight: bold;
	margin-bottom: 35px;

	&:before {
		content: 'Show ';
	}

	@include media(641px) {
		display: none;
	}
}

.filter-form {
	display: none;

	@include media(641px) {
		display: block;
	}
}

.hide-filters:checked + .filter-label:before {
	content: 'Hide ';
}

.hide-filters:checked ~ .filter-form {
	display: block;
}
