.leftSearchBox {
	clear: left;

legend {
    padding-left: 8px;
    padding-right: 8px;
		font-weight: bold;
		background: $alt-color;
		width: 100%;
	}

	div.multiple-choice {
		padding: 2px 0px 6px 0px;
		margin-top: 8px;

		margin-bottom: 0px;
		border-bottom: 1px solid $alt-color;
		width: 100%;

        input {
            margin-left: 8px;
        }

		label {
			margin-left: 45px;
			&:before {
				left: 8px;
			}
			&:after {
				left: 16px;
			}
		}
	}
}

.filters {
	.heading-small {
		margin-top: 6px;
	}
}

.clear-filters {
	float: left;
	clear: left;
	width: 100%;
	margin: 10px 0;
}

.hide-filters {
	position: absolute;
	left: -9999px;
}

.filter-label {
	font-weight: 16px;
	text-align: center;
	background-color: $alt-color;
	display: block;
	padding: 10px 0;
	font-weight: bold;
	margin-bottom: 35px;

	&:before {
		content: 'Show ';
	}

	@include media(641px) {
		display: none;
	}
}

.filter-form {
	display: none;

	@include media(641px) {
		display: block;
	}
}

.hide-filters:checked + .filter-label:before {
	content: 'Hide ';
}

.hide-filters:checked ~ .filter-form {
	display: block;
}