%nav-link {
	position: relative;
	display: inline-block;
	margin-right: 4px;
	padding: 4px 4px 4px 12px;

	&:before {
		position: absolute;
		content: '\203A';
		top: 4px;
		left: 0;
		color: #003;
	}
}

.levels {
	margin-bottom: 30px;

	@include e(col) {
		width: 100%;
		display: none;

		&:last-of-type {
			display: block;
			float: none;
			border-right: 0;
		}

		@include media(tablet) {
			border-right: 1px solid $grey-3;
			position: relative;
			float: left;
			width: 24%;
			display: block;

			&:last-of-type {
				float: left;
				border-right: 0;
			}
		}
	}

	@include e(link) {
		display: block;
		position: relative;
		text-decoration: none;
		font-size: 16px;
		padding: 8px 12px 8px 8px;
		color: #005ea5;

		&:after {
			position: absolute;
			content: '\203A';
			top: 7px;
			right: 5px;
			color: #003;
		}

		&:hover {
			background: #f1f1f1;
		}

		@include m(selected) {
			background-color: #005ea5;
			color: #fff;
			&:visited,
			&:link,
			&:after {
				color: #fff;
			}

			&:hover {
				background-color: #005ea5;
			}
		}

		@include m('unsure') {
			@include bold-16;
			&:after {
				content: '';
			}
		}
	}
}

.levels-nav {
	margin-bottom: 15px;
	padding-bottom: 5px;

	@include media(desktop) {
		display: none;
	}

	@include e(list) {
		// ul.levels-nav__list
		text-align: left;
	}

	@include e(item) {
		// li.levels-nav__item
		display: inline-block;

		&:first-of-type {
			.level-nav__link {
				margin-right: 0;
				padding-left: 0;

				&:before {
					content: '';
				}
			}
		}
	}

	@include e(link) {
		// a.levels-nav__last
		@extend %nav-link;
	}

	@include e(last) {
		// span.levels-nav__last
		@extend %nav-link;
		@include bold-19;
	}
}
