$notification-main-color: #1d70b8;

.govuk-notification-banner {
    margin: 30px 0 60px 0;
    border: 5px solid $notification-main-color;
    background-color: $notification-main-color;
}

.govuk-notification-banner__header {
    padding: 2px 20px 5px;
    border-bottom: 1px solid transparent;
}

.govuk-notification-banner__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: $white;
}

.govuk-notification-banner__content {
    $padding-tablet: 20px;
    padding: 15px;
    background-color: $white;
    > :last-child {
        margin-bottom: 0;
    }
}

.govuk-notification-banner__heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}
