.search-container {
	.search-wrapper {
		vertical-align: top;

		input {
			display: inline-block;
		}
		.submit-wrapper {
			display: inline-block;
		}
	}
}

.search-results {
	li {
		margin-bottom: 20px;
	}

	b {
		font-weight: bold;
	}
}
