.search-container {
	.search-wrapper {
		input {
			display: inline-block;
		}
		.submit-wrapper {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.search-results {
	a {
		text-decoration: none;
	}

	h1 {
		margin-bottom: 0px;
	}

	.time {
		margin-bottom: 10px;
		color: $secondary-text-colour;
		display: block;
	}

	.suggest {
		color: $secondary-text-colour;
		font-weight: bold;
		display: block;
		font-style: italic;
		margin-bottom: 10px;
	}

	li {
		margin-bottom: 20px;
	}

	b {
		font-weight: bold;
	}

	em {
		font-style: normal;
		font-weight: bold;
	}
}
