<div class="learning">
    <div class="grid-row">
        <div class="learning__actions column-third">
            <a href="/courses/{{course.uid}}" class="learning__title">{{course.title}}</a>
            {{#if course.state}}
                {{#if course.type === 'elearning'}}
                <a href="/courses/{{course.uid}}/do">Resume</a>
                {{else}}
                <a href="{{course.uri}}">Resume</a>
                {{/if}}
            {{/if}}
        </div>

        <span class="learning__progress">{{i18n.__(course.state || 'not started')}}</span>

        <div class="column-one-third">
            <p class="learning__information-desc"></p>

            <ul class="learning__information-list">
                <li>{{i18n.__(course.type)}}</li>
                <li>{{course.duration}}</li>
            </ul>
        </div>
    </div>
</div>
