{% extends "./layout.njk" %}
{% from "./components/moduleCard/macro.njk" import moduleCard with context %}

{% block courseContent %}
    <div class="discite" id="modules">
        {% if pageModel.mandatoryModuleCount > 0 %}
            <p>
                <strong>You must complete all mandatory learning modules to finish this course.</strong>
            </p>
        {% endif %}
        {% for module in pageModel.modules %}
            {{ moduleCard(module) }}
        {% endfor %}
    </div>
{% endblock %}
