{% macro banner(params) %}
    <div class="banner {{ params.classes }}" role="status">
        {% if params.title %}
            <span class="banner__heading-large">{{ params.title }}</span>
        {% endif %}
        {% if params.message %}
            <p class="no-margin"><strong>{{ params.message }}</strong></p>
        {% endif %}
        {% if params.additionalContent %}
            {{ params.additionalContent | safe }}
        {% endif %}
    </div>
{% endmacro %}

{% macro renderBanners(params) %}
    {% if params.notification != null %}
        {{ notificationBanner(params.notification) }}
    {% elif params.action != null %}
        {{ warningConfirmationBanner(params.action) }}
    {% endif %}
{% endmacro %}

{% macro notificationBanner(params) %}
    {{ banner({
        "classes": "banner--confirmation " + params.classes or "",
        "title": params.title,
        "message": params.message
    }) }}
{% endmacro %}

{% macro warningConfirmationBanner(params) %}
    {% set content %}
        <a class="banner__action" href="{{ params.yesHref }}">{{ params.yesText }}</a>
        <a class="banner__action" href="{{ params.noHref }}">{{ params.noText }}</a>
    {% endset %}
    {{ banner({
        "classes": "banner--warning " + params.classes,
        "title": params.title,
        "message": params.message,
        "additionalContent": content
    }) }}
{% endmacro %}
