<table class="u-space-b30">
    <thead>
        <tr>
            <th class="table--fix-first">Course title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Date completed</th>
        </tr>
    </thead>
    <tbody>
        {#each courses as record}
        <tr>
            <td>
                <a href="/courses/{record.courseId}">{record.courseTitle}</a>
            </td>
            <td>{#if record.getType() != null}{$i18n(record.getType())}{:else}unknown{/if}</td>
            <td>{record.getDuration() || '-'}</td>
            <td>{record.getCompletionDate() ? $datetime.formatDate(record.getCompletionDate()) : ''}</td>
        </tr>
        {/each}
    </tbody>
</table>
