<aside role="complementary">
    <input type="checkbox" id="hide-filter" class="hide-filters"/>
    <label class="filter-label" for="hide-filter">search filters</label>
    <form class="filter-form" autocomplete="off" name="searchLearning" method="get" action="/search">
        <input type="hidden" id="query" name="q" value="{ query }" />
        <button type="submit" class="button">Apply search filters</button>
        <a class="clear-filters" href="/search?q={query}">Clear all filters</a>
        <div class="lpg-related-items form-group govuk-related-items--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-learning-type" aria-expanded="true" aria-label="Learning type. Hide this section" tabindex="0">Learning type</button>
                    </h2>
                </legend>
                <div id="accordion-learning-type">
                    {#each Object.entries($i18n('courseTypes')) as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter[0]}" name="courseType" id="{filter[0]}"  checked="{(courseTypes || []).indexOf(filter[0]) > -1 ? 'checked' : ''}" >
                            <label for="{filter[0]}">{filter[1]}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group  govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-cost" aria-expanded="true" aria-label="Cost. Hide this section" tabindex="0">Cost</button>
                    </h2>
                </legend>
                <div id="accordion-cost">
                    <div class="multiple-choice">
                        <input id="cost" type="checkbox" name="cost" value="free" checked="{(cost || []).indexOf('free') > -1 ? 'checked' : ''}"  >
                        <label for="cost">Show only free</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-your-department" aria-expanded="true" aria-label="Your department. Hide this section" tabindex="0">Your department</button>
                    </h2>
                </legend>
                <div id="accordion-your-department">
                    <div class="multiple-choice">
                        <input type="checkbox" value="{departments.yours.code}" name="department" id="{departments.yours.code}" checked="{departments.selected.indexOf(departments.yours.code) > -1 ? 'checked' : ''}" >
                        <label for="{departments.yours.code}">{departments.yours.name}</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-other-departments" aria-expanded="true" aria-label="Other departments. Hide this section" tabindex="0">Other departments</button>
                    </h2>
                </legend>
                <div id="accordion-other-departments">
                    {#each departments.other as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter.code}" name="department" id="{filter.code}" checked="{departments.selected.indexOf(filter.code) > -1 ? 'checked' : ''}" >
                            <label for="{filter.code}">{filter.name}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-your-areas-of-work" aria-expanded="true" aria-label="Your areas of work. Hide this section" tabindex="0">Your areas of work</button>
                    </h2>
                </legend>
                <div id="accordion-your-areas-of-work">
                    {#each areasOfWork.yours as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter}" name="areaOfWork" id="{filter}" checked="{areasOfWork.selected.indexOf(filter) > -1 ? 'checked' : ''}" >
                            <label for="{filter}">{filter}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-other-areas-of-work" aria-expanded="true" aria-label="Other areas of work. Hide this section" tabindex="0">Other areas of work</button>
                    </h2>
                </legend>
                <div id="accordion-other-areas-of-work">
                    {#each areasOfWork.other as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter}" name="areaOfWork" id="{filter}" checked="{areasOfWork.selected.indexOf(filter) > -1 ? 'checked' : ''}" >
                            <label for="{filter}">{filter}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-your-interests" aria-expanded="true" aria-label="Your interests. Hide this section" tabindex="0">Your interests</button>
                    </h2>
                </legend>
                <div id="accordion-your-interests">
                    {#each interests.yours as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter}" name="interest" id="{filter}" checked="{interests.selected.indexOf(filter) > -1 ? 'checked' : ''}" >
                            <label for="{filter}">{filter}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <div class="lpg-related-items govuk-related-items--flush form-group govuk-related-items--keylined govuk-related-items--keylined--search leftSearchBox filter-toggle">
            <fieldset>
                <legend>
                    <h2 class="govuk-related-items__heading">
                        <button class="filter-headings" type="button" aria-controls="accordion-other-interests" aria-expanded="true" aria-label="Other interests. Hide this section" tabindex="0">Other interests</button>
                    </h2>
                </legend>
                <div id="accordion-other-interests">
                    {#each interests.other as filter}
                        <div class="multiple-choice">
                            <input type="checkbox" value="{filter}" name="interest" id="{filter}" checked="{interests.selected.indexOf(filter) > -1 ? 'checked' : ''}" >
                            <label for="{filter}">{filter}</label>
                        </div>
                    {/each}
                </div>
            </fieldset>
        </div>

        <button type="submit" class="button">Apply search filters</button>
        <a class="clear-filters" href="/search?q={query}">Clear all filters</a>
    </form>
</aside>
