<div class='nav-mobile-toggle'>
  <button class="nav-mobile-toggle-button hidden" id="mobileNav">Menu</button>
</div>
<nav class="nav" id='navBar'>
   <ul class='nav-list'>
        {#if $signedInUser} {#if $signedInUser.hasCompleteProfile()}
            {#if $req.originalUrl.includes("/home")}
                <li class="active nav-list-item"><a clas='nav-item' href="/home" aria-current="page">Home</a></li>
            {:else}
                <li class='nav-list-item'><a class='nav-item' href="/home">Home</a></li>
            {/if}
             {#if $config.NSG_FLAG}
                <li class='nav-list-item'><a class='nav-item' href="/your-learning">{$i18n('home_page_title')}</a></li>
             {/if}
            {#if $req.originalUrl.includes("/course-catalogue")}
                <li class="active nav-list-item"><a clas='nav-item' href="/course-catalogue" aria-current="page">{$i18n('course_catalogue_page_title')}</a></li>
            {:else}
                <li class='nav-list-item'><a class='nav-item' href="/course-catalogue">{$i18n('course_catalogue_page_title')}</a></li>
            {/if}
            {#if $req.originalUrl.includes("/learning-record")}
                <li class="active nav-list-item"><a clas='nav-item' href="/learning-record" aria-current="page">Learning record</a></li>
            {:else}
                <li class='nav-list-item'><a class='nav-item' href="/learning-record">Learning record</a></li>
            {/if}
        {/if}
       {#if $req.originalUrl.includes("/profile")}
       <li class="active nav-list-item"><a class='nav-item' href="/profile" aria-current="page">Profile</a></li>
       {:else}
       <li class='nav-list-item'><a clas='nav-item' href="/profile">Profile</a></li>
       {/if}
       {#if $signedInUser.isAdmin()}
          <li class='nav-list-item'>
              <a class='nav-item' href="{$config.LPG_MANAGEMENT_URL}/content-management/">Admin</a>
          </li>
       {/if}
        {#if $signedInUser.isReporter()}
          <li class='nav-list-item'>
              <a class='nav-item' href="{$config.LPG_MANAGEMENT_URL}/reporting/">Reporting</a>
          </li>
       {/if}
        <li class='nav-list-item'>
            <a class='nav-item' href="/sign-out">Sign out</a>
        </li>
        {:else}
        <li class='nav-list-item'>
            <a class='nav-item' href="/sign-in">Sign in</a>
        </li>
        {/if}
    </ul>
</nav>
