<div class="discite__item u-clearfix discite__item--home">
    <div class="discite__main discite__main--home">
        {#if course.type === 'link'}
        <h3 class="heading discite__heading lpg-course-name">
            <a target="_blank" href="/courses/{course.id}">{course.title}</a>
        </h3>
        {:else}
        <h3 class="heading discite__heading lpg-course-name">
            <a class="lpg-course-link" href="/courses/{course.id}">{course.title}</a>
        </h3>
        {/if}
    </div>

    <div class="discite__properties discite__properties--home u-clearfix">
        <ul class="discite__property discite__property--home">
            <li class="discite__property-item">
                {#if course.status !== 'NULL'}
                    <div class="discite__status discite__status--home">
                        <span class="badge badge--discite badge--info">{$i18n(course.status)}</span>
                    </div>
                {/if}
            </li>
            <li class="discite__property-item">
                <span>Type:</span>
                <span class="lpg-course-type">{$i18n(course.type || '' )}</span>
            </li>
            <li class="discite__property-item">
                <span>Duration:</span>
                <span class="lpg-course-duration">{course.getDurationFormatted() || '0'}</span>
            </li>
        </ul>
    </div>

    {#if course.moduleCount > 1 }
        <div class="discite__area">
            <p class="font-small discite__counter">
                This course has {course.moduleCount} modules
            </p>
        </div>
    {/if}

    {#if course.shortDescription}
        <div class="discite__desc discite__desc--home">
            {course.shortDescription}
        </div>
    {/if}

    <div class="discite__area">
        Due by: {course.getDueByDateFormatted()}
    </div>

    <div class="discite__action discite__action--home">
        <a class="discite__action-link--main" href="/courses/{course.id}">{$i18n('action_NOT_STARTED')}
            <span class="visuallyhidden">{course.title}</span>
        </a>
    </div>
</div>
