{#if optionType === 'typeahead'}
    <div class="form-group">
        <label for="{inputName}">{label}</label>
        <p class="govuk-body hint no-margin">{lede}</p>
        <select class="form-control" id="{inputName}" name="{inputName}" aria-labelledby="{inputName}">
            <option value=""></option>
            {#each options as option}
                <option label="{option}" value="{option.id}">{option.name}</option>
            {/each}
        </select>
    </div>
{:elseif optionType === 'checkbox'}
    <Checkboxes {options} {inputName} {script} {value} {lede} />
{:elseif optionType === 'radio'}
	<NewRadios {options} {inputName} {script} {value} {lede} />
{/if}

<script>
	import Checkboxes from './Checkboxes.html'
	import NewRadios from './NewRadios.html'

	export default {
		data() {
			return {
			}
		},

		components: {
		    Checkboxes,
		    NewRadios
		}
	}
</script>