{#if optionType === 'typeahead'}
    <TypeAhead {options} {inputName} {script} {label} {value} />
{:elseif optionType === 'checkbox'}
    <Checkboxes {options} {inputName} {script} {value} {lede} />
{:elseif optionType === 'radio'}
	<NewRadios {options} {inputName} {script} {value} {lede} />
{/if}

<script>
	import TypeAhead from './TypeAhead.html'
	import Checkboxes from './Checkboxes.html'
	import NewRadios from './NewRadios.html'

	export default {
		data() {
			return {
			}
		},

		components: {
		    TypeAhead,
		    Checkboxes,
		    NewRadios
		}
	}
</script>