@use "../common/variables" as *;
@use "node_modules/govuk-frontend/dist/govuk/index" as *;

.title-card {
  padding: 2.5rem 2rem 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $nsg-mid-green-tint-1;
  border: 1px solid $nsg-mid-green-tint-2;
  grid-column: 1 / span 1;
  @media (max-width: 1100px) {
    grid-column: span 1;
  }
}

.title-card__content {
  .govuk-body {
    color: govuk-colour('white');

  }
  .govuk-body:last-child {
    margin-bottom: 0;
  }
}

.title-card__heading {
  color: $nsg-light-green;
}

.title-card__heading--medium {
  @extend .govuk-heading-m;
  margin-top: 0;
}