{% macro navbarLink(url, href, text) %}
    {% set isActive = url.includes(href) %}
    <li{% if isActive %} class="active"{% endif %}>
        <a href="{{ href }}"{% if isActive %} aria-current="page"{% endif %}>{{ text }}</a>
    </li>
{% endmacro %}
