{% macro navbar(params) %}
    {% for link in params.links %}
        {{ navbarLink(link) }}
    {% endfor %}
{% endmacro %}

{% macro navbarLink(params) %}
    <li class='nav-list-item {% if params.active %}active{% endif %}'><a class='nav-item' href="{{ params.href }}" {% if params.active %}aria-current="page"{% endif %}>{{ params.text }}</a></li>
{% endmacro %}
