{% extends "template.njk" %}

{% from components + "/mojHeader/macro.njk" import mojHeader %}
{% from "footer/macro.njk" import govukFooter %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "service-navigation/macro.njk" import govukServiceNavigation %}
{% from "input/macro.njk" import govukInput %}

{% set bodyClasses = "nsg-body" %}
{% set containerClasses = "nsg-homepage-wide-container" %}
{% set headerContainerClasses = "moj-header__container--wide" %}
{% set phaseBannerClasses = "phase-banner--wide" %}
{% set navContainerClasses = "nav-content-container--wide" %}

{% block pageTitle %}
    {{ pageTitle }} - Civil Service Learning
{% endblock %}

{% block headIcons %}
    <link rel="shortcut icon" href="{{ staticAssetRoot }}/img/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ staticAssetRoot }}/styles/main.v2.css">
{% endblock %}
{% block govukSkipLink %}
    {{ govukSkipLink({
        href: "#main-content",
        text: "Skip to main content"
    }) }}
{% endblock %}
{% block header %}
    {{ mojHeader({
        organisationLabel: {
            text: "National School of Government and Public Services",
            href: NSG_URL
        },
        serviceLabel: {
            text: "Civil Service Learning",
            href: "/"
        },
        containerClasses: headerContainerClasses
    }) }}
    <div class='phase-banner-container'>
        {{ govukPhaseBanner({
            tag: {
                text: "Alpha"
            },
            html: 'Your <a class="govuk-link" href="{{ feedbackRoot }}" target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.',
            classes: 'phase-banner--nsg',
            tag: {
                classes: 'govuk-tag--badge',
                html: '<span class="badge badge--phase">BETA</span>'
            }
        }) }}
    </div>
    {% set search %}
        <div class="search-form-container">
            <form autocomplete="off" name="searchLearning" method="get" action="/search">
                <label class="govuk-visually-hidden" for="q">Search all available learning</label>
                <input class="form-control govuk-input" id="q" type="text" name="q" placeholder="Search courses" value="">
                <button type="submit" class="govuk-button">Search</button>
            </form>
        </div>
    {% endset %}
    {% if signedInUser.hasCompleteProfile() %}
        {% set tabs = [
            {"active": navbarTab == "home", "href": "/home", "text": "Home"},
            {"active": navbarTab == "course-catalogue", "href": "/course-catalogue", "text": i18n('course_catalogue_page_title')},
            {"active": navbarTab == "learning-record", "href": "/learning-record", "text": "Learning record"},
            {"active": navbarTab == "profile", "href": "/profile", "text": "Profile"}
        ] %}
        {% if signedInUser.isAdmin() %}
            {% set tabs = (tabs.push({"href": lpgManagementUrl + "/content-management", "text": "Admin"}), tabs) %}
        {% endif %}
        {% if signedInUser.isReporter() %}
            {% set tabs = (tabs.push({"href": lpgManagementUrl + "/reporting", "text": "Reporting"}), tabs) %}
        {% endif %}
        {% set tabs = (tabs.push({"href": "/sign-out", "text": "Sign out"}), tabs) %}
        {{ govukServiceNavigation({
            navigation: tabs,
            classes: "nsg-navigation",
            slots: {
                end: search
            }
        }) }}
    {% endif %}
{% endblock %}

{% block bodyStart %}
    <div id="global-cookie-message">
        <p>
            Civil Service Learning uses cookies to make the site simpler.
            <a href="/cookies"> Find out more about cookies</a>
        </p>
    </div>
{% endblock %}

{% block footer %}
    <script src="{{ staticAssetRoot }}/js/main-bundle.min.js"></script>
    {{ govukFooter({
        containerClasses: "nsg-homepage-wide-container",
        classes: "nsg-footer",
        meta: {
            items: [
                {
                    href: "/cookies",
                    text: "Cookies"
                },
                {
                    href: "/privacy",
                    text: "Privacy"
                },
                {
                    href: "/contact-us",
                    text: "Contact us"
                },
                {
                    href: "/accessibility-statement",
                    text: "Accessibility statement"
                }
            ],
            html: 'Built by <a href="/home" class="govuk-footer__link">Civil Service Learning</a>'
        }
    }) }}
{% endblock %}