{% extends "template.njk" %}

{% from components + "/mojHeader/macro.njk" import mojHeader %}
{% from "footer/macro.njk" import govukFooter %}
{% from "skip-link/macro.njk" import govukSkipLink %}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "service-navigation/macro.njk" import govukServiceNavigation %}
{% from "input/macro.njk" import govukInput %}

{% set bodyClasses = "nsg-body" %}
{% set containerClasses = "nsg-homepage-wide-container" %}
{% set headerContainerClasses = "moj-header__container--wide" %}
{% set phaseBannerClasses = "phase-banner--wide" %}
{% set navContainerClasses = "nav-content-container--wide" %}

{% block pageTitle %}
    {{ pageTitle }} - Civil Service Learning
{% endblock %}

{% block headIcons %}
    <link rel="shortcut icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon" />
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('/styles/main.v2.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script> {{ googleAnalyticsCode | safe }}
{% endblock %}
{% block govukSkipLink %}
    {{ govukSkipLink({
        href: "#main-content",
        text: "Skip to main content"
    }) }}
{% endblock %}
{% block header %}
    {{ mojHeader({
        organisationLabel: {
            text: "National School of Government and Public Services",
            href: NSG_URL
        },
        serviceLabel: {
            text: "Civil Service Learning",
            href: "/"
        },
        containerClasses: headerContainerClasses
    }) }}
    <div class='phase-banner-container'>
        {{ govukPhaseBanner({
            tag: {
                text: "Alpha"
            },
            html: 'Your <a class="govuk-link" href="' + nsgFeedbackRoot + '" target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.',
            classes: 'phase-banner--nsg',
            tag: {
                classes: 'govuk-tag--badge',
                html: '<span class="badge badge--phase">BETA</span>'
            }
        }) }}
    </div>
    {% set search %}
        <button type="submit" id='nav-search-toggle' class="search-toggle__button hidden">
            <svg id='nav-search-toggle-open' class="search-toggle__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
            <span id='nav-search-toggle-close' class='search-toggle__close hidden'>×</span>
        </button>
    {% endset %}
    {% if signedInUser.hasCompleteProfile() %}
        {% set tabs = [
            {"active": navbarTab == "home", "href": "/home", "text": "Home"}
        ] %}

        {% if NSG_FLAG === true %}
            {% set tabs = (tabs.push({"active": navbarTab == "your-learning", "href": "/your-learning", "text": i18n('home_page_title')}), tabs) %}
        {% endif %}

        {% set tabs = (tabs.push({"active": navbarTab == "course-catalogue", "href": "/course-catalogue", "text": i18n('course_catalogue_page_title')}), tabs) %}
        {% set tabs = (tabs.push({"active": navbarTab == "learning-record", "href": "/learning-record", "text": "Learning record"}), tabs) %}
        {% set tabs = (tabs.push({"active": navbarTab == "profile", "href": "/profile", "text": "Profile"}), tabs) %}
        {% if signedInUser.isAdmin() %}
            {% set tabs = (tabs.push({"href": lpgManagementUrl + "/content-management", "text": "Admin"}), tabs) %}
        {% endif %}
        {% if signedInUser.isReporter() %}
            {% set tabs = (tabs.push({"href": lpgManagementUrl + "/reporting", "text": "Reporting"}), tabs) %}
        {% endif %}
        {% set tabs = (tabs.push({"href": "/sign-out", "text": "Sign out"}), tabs) %}
        {{ govukServiceNavigation({
            navigation: tabs,
            classes: "nsg-navigation",
            slots: {
                end: search
            }
        }) }}
    {% endif %}
    <div id='nav-search-panel' class='nav-search-container'>
        <div class="nav-search-content-container">
            <div class='search-container'>
                <div class="search-form-container">
                    <form autocomplete="off" name="searchLearning" method="get" action="/search">
                        <label class="govuk-visually-hidden" for="q">Search all available learning</label>
                        <input class="govuk-input search-box__input" id="q" type="text" name="q" placeholder="Search courses" value ="{{ pageModel.query }}">
                        <button type="submit" class="govuk-button">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyStart %}
    <div id="global-cookie-message">
        <p>
            Civil Service Learning uses cookies to make the site simpler.
            <a href="/cookies"> Find out more about cookies</a>
        </p>
    </div>
{% endblock %}

{% block footer %}
    <script src="{{ asset('/js/main-bundle.min.js') }}"></script>
    <div class='icon-banner__container'>
        <div class="icon-banner"></div>
    </div>
    {{ govukFooter({
        containerClasses: "nsg-homepage-wide-container",
        classes: "nsg-footer",
        meta: {
            items: [
                {
                    href: "/cookies",
                    text: "Cookies"
                },
                {
                    href: "/privacy",
                    text: "Privacy"
                },
                {
                    href: "/contact-us",
                    text: "Contact us"
                },
                {
                    href: "/accessibility-statement",
                    text: "Accessibility statement"
                }
            ],
            html: 'Built by <a href="/home" class="govuk-footer__link">Civil Service Learning</a>'
        }
    }) }}
{% endblock %}
