{% from "./components/categoryCard/macro.njk" import categoryCard %}
{% extends "./baseLayout.njk" %}

{% set mainClasses = "nsg-homepage-main" %}

{% set pageTitle = "National School of Government and Public Services" %}
{% set navbarTab = "home" %}

{% block content %}
    <div class='home-container'>
        <div class='title-card'>
            <h1 class='title-card__heading title-card__heading--medium'>Welcome to the National School of Government and Public Services.</h1>
            <div class='title-card__content'>
                <p class='govuk-body'>The National School provides world-class learning and development for civil servants, supporting public sector excellence and preparing our people for the future.</p>
                <p class='govuk-body'>Click on the link to view the subjects.</p>
            </div>
        </div>
        {% for row in rows %}
            <div class='category-card__row'>
                {% for category in row %}
                    {{ categoryCard({
                        title: category.title,
                        description: category.description,
                        fullUrl: category.url,
                        classes: "category-card--two-cards" if rows[0].length === 2 else 'category-card--three-cards'
                    }) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <div class='icon-banner__container'>
        <div class="icon-banner"></div>
    </div>
    {{ super() }}
{% endblock %}