{% from "./components/categoryCard/macro.njk" import categoryCard %}
{% extends "./baseLayout.njk" %}

{% set mainClasses = "nsg-homepage-main" %}

{% set pageTitle = "Page not found" %}

{% block content %}
    <h1 class='govuk-heading-l'>
        Page not found
    </h1>
    <p class='govuk-body'>
        If you typed the web address, check it is correct.
    </p>
    <p class='govuk-body'>
        If you pasted the web address, check you copied the entire address.
    </p>
    <p class='govuk-body'>
        If the web address is correct, or you selected a link or button, <a class='govuk-link' href='/contact-us'>contact us</a>.
    </p>
{% endblock %}