
{#if !hideSummary}
<p><strong>Cancellation policy</strong></p>
<p>If you wish to cancel your booking, the policy is:</p>
<ul  class="booking__list--cancel">
    <li>For cancellations 16 working days or more before the commencement date, the buyer/booker/customer will not be charged.</li>
    <li>For cancellations 11 to 15 working days before the commencement date, the buyer/booker/customer will be charged 30% of the total cost.</li>
    <li>For cancellations less than 11 working days before the commencement date, the buyer/booker/customer will be charged 100% of the total cost.</li>
</ul>
{/if}

<details class="booking__details">
    <summary><span class="summary">Cancellation policy in full</summary>
    <div class="panel panel-border-narrow">
        <p>If you wish to cancel your booking, the policy is:</p>
        <ul class="booking__list--cancel">
            <li>For cancellations 16 working days or more before the commencement date, the buyer/booker/customer will not be charged.</li>
            <li>For cancellations 11 to 15 working days before the commencement date, the buyer/booker/customer will be charged 30% of the total cost.</li>
            <li>For cancellations less than 11 working days before the commencement date, the buyer/booker/customer will be charged 100% of the total cost.</li>
        </ul>
        <p>
        <p>The ‘days’ referred to are actual days rather than working days.</p>
        <p>The ‘opening’ of the course is the date on which any digital learning or preparatory work is released and made available to you.</p>
        <p>We reserve the right to cancel a course if the minimum number of participants has not been reached.</p>
        <p>Please ensure that the information you provide for your booking is valid and accurate. Inaccurate booking information may result in your booking being cancelled or your department incurring costs.</p>
    </div>
</details>
