<!--<div id="global-cookie-message">-->
	<!--<p>-->
		<!--GOV.UK uses cookies to make the site simpler.-->
		<!--<a href="https://www.gov.uk/help/cookies"> Find out more about cookies</a>-->
	<!--</p>-->
<!--</div>-->


<main class="elements-index" id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your&nbsp;
			<a href="mailto:feedback@cslearning.gov.uk">feedback</a>&nbsp;will help us to improve it.</span>
		</p>
	</div>
	<div class="main-content">
		<slot></slot>
	</div>
</main>


<footer class="group js-footer" id="footer" role="contentinfo">
	<div class="footer-wrapper">
		<div class="footer-meta">
			<div class="footer-meta-inner">
				<div class="open-government-licence">
					<p class="logo">
						<a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
					</p>
					<p>All content is available under the
						<a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
						 rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
				</div>
			</div>
			<div class="copyright">
				<a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
			</div>
		</div>
	</div>
</footer>