<form method="post" action="/profile" class="push-bottom">
    <input type="hidden" name="sessionDataKey" value="{{sessionDataKey}}" />
    <div class="form-group">
        <label class="form-label" for="userName">Email address</label>
        <input class="form-control" id="userName" name="userName" value="{{emailAddress}}" type="text" readonly="readonly">
    </div>
    <div class="form-group">
        <label class="form-label" for="department">Department</label>
        <input class="form-control" id="department" name="department" type="text" value="{{department}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="profession">Profession</label>
        <input class="form-control" id="profession" name="profession" type="text" value="{{profession}}">
    </div>
    <div class="form-group">
        <label class="form-label" for="grade">Grade</label>
        <input class="form-control" id="grade" name="grade" type="text" value="{{grade}}">
    </div>
    <input type="submit" class="button" value="Continue">
</form>