.learning {
	display: block;
	padding: 10px 0;
	border-bottom: solid 1px $grey-2;
	@extend .font-xsmall;

	@include e(title) {
		display: block;
		@include copy-16();
	}

	@include e(progress) {
		@extend .phase-tag;
		float: left;
		padding: 7px 5px;
		font-size: 13px;
		width: 115px;
		text-align: center;
		font-weight: 400;
		margin: 5px 0;
	}

	@include e(information-desc) {
		display: block;
		margin-bottom: 5px;
	}
	@include e(information-list) {
		display: block;
		li {
			padding-right: 10px;
			display: inline-block;
		}
	}
}
