.search-container {
	label {
		position: absolute;
		color: $secondary-text-colour;
		padding: 5px 5px 0;
	}

	.search-wrapper {
		input {
			display: inline-block;
		}
		.submit-wrapper {
			display: inline-block;
		}
	}
}

.search-results {
	b {
		font-weight: bold;
	}
}
