<form action="/search" method="get" role="search">

    <div class="govuk-search on-govuk-blue" data-module="toggle-input-class-on-focus">
        <label for="search-main-07bcff8d" class="search-label">
            Search GOV.UK
        </label>
        <div class="search-wrapper">
            <input type="search" value="" id="search-main-07bcff8d" name="q" title="Search" class="search-element search-input js-class-toggle">
            <div class="search-element search-submit-wrapper">
                <button type="submit" class="search-submit">Search</button>
            </div>
        </div>
    </div>
</form>