{% macro courseCardActions(params) %}
    <div class="discite__action {{ params.classes }}">
        {{ params.actions.primary | safe }}
        {% if params.actions.secondary %}
            {{ params.actions.secondary | safe }}
        {% endif %}
    </div>
{% endmacro %}

{% macro cancelLink(params) %}
    {{ ctaLink({
        "href": "/book/" + params.courseId + "/" + params.moduleId + "/" + params.eventId + "/cancel",
        "text": i18n('action_CANCEL')
    }) }}
{% endmacro %}

{% macro startLink(params) %}
    {% set html %}
        View<span class="visually-hidden"> {{ params.courseTitle }}</span> course details
    {% endset %}
    {{ ctaLink({
        "href": "/courses/" + params.courseId,
        "html": html
    }) }}
{% endmacro %}

{% macro removeFromLearningPlanLink(params) %}
    {{ ctaLink({
        "href": "/home?delete=" + params.courseId,
        "text": "Remove from learning plan"
    }) }}
{% endmacro %}

{% macro addToLearningPlanLink(params) %}
    {% set html %}
        Add to learning plan <span class="visually-hidden">: {{ params.courseTitle }}</span>
    {% endset %}
    {{ ctaLink({
        "href": "/course-catalogue/add/" + params.courseId + "?ref=" + params.ref,
        "html": html
    }) }}
{% endmacro %}

{% macro ctaLink(params) %}
    <a class="discite__action-link--main" href="{{ params.href }}">
        {% if params.html %}
            {{ params.html | safe }}
        {% else %}
            {{ params.text }}
        {% endif %}
    </a>
{% endmacro %}
