/*
* Mixins, includes.. cool .scss stuff :)
*/

//element selector
@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

//modifier selector
@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

%clearfix {
	content: '';
	display: table;
	clear: both;
}

