$space: 5px;
$space-class-values: (5, 10, 15, 30, 45);

/* NSG */
$nsg-dark-green: #002d24;
$nsg-dark-green-tint-1: #004634;
$nsg-mid-green: #006b4d;
$nsg-mid-green-tint-1: #086f52;
$nsg-mid-green-tint-2: #247f65;
$nsg-mid-green-tint-3: #258860;
$nsg-light-green: #afffa6;

/* Global footer */
$civil-service: $nsg-dark-green;

$proposition-border: #2e3133;
// Based on GOV.UK brand blue but slightly lighter so it hits contrast on the
// black header bar when used as copy colour.
$cs-red: $nsg-dark-green;
$font-color: #0b0c0c;
$footer-background: $grey-3;
$footer-border-top: #a1acb2;
$alt-color: #dee0e2;
$footer-link: #454a4c;
$footer-link-hover: #171819;
$footer-text: $footer-link;
$optional-text: $footer-text;
$flash-message: #005ea5;
$govuk-link-hover-colour: #003078;
$gds-black: #0b0c0c;

$focus: #fd0;
$grey: #aaa;
$light-grey: #f8f8f8;
$dark-grey: #484949;
$white: #fff;
$fonts-dir: '/assets/fonts/';
$hint: #6f777b;
$border: #bfc1c3;
$alt-header-color: #9b9b9b;

$moj-header-background: $nsg-dark-green;
$moj-header-padding-bottom: 15px;
$moj-header-logo-border-left: 3px solid white;
$moj-header-logo-padding-left: 10px;
$moj-header-logotype-crest-display: block;
$moj-header-organisation-name-text-size: 20px;
$moj-header-organisation-name-width: 180px;
$moj-header-service-name-text-size: 20px;
$moj-header-service-name-border-left: 3px solid white;
$moj-header-service-name-padding-left: 10px;
$moj-header-service-name-margin-top: 50px;

$phase-banner-background: $nsg-dark-green-tint-1;
$phase-banner-text-color: #fff;
$phase-banner-link-color: $nsg-light-green;

$nav-background-color: #002D24;
$nav-link-color: #fff;
$nav-active-link-color: #fff;
$nav-active-link-underline-color: #fff;
$nav-mobile-menu-link-color: #fff;