<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="mask-icon" href="/img/gov.uk_logotype_crown.png" color="#0b0c0c">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/img/opengraph-image.png">
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <Header />
    <Layout>
        <slot></slot>
    </Layout>
</body>
</html>

<script>
	import Layout from './Layout.html'
	import Header from './Header.html'

	export default {
		data() {
			return {
			}
		},

		components: {
		    Header,
            Layout
		}
	}
</script>
