{% from components + "/mojHeader/macro.njk" import mojHeader %}
{% from components + "/phaseBanner/macro.njk" import phaseBanner %}

{{ mojHeader({
    organisationLabel: {
        text: "GOV.UK",
        href: "https://gov.uk"
    },
    serviceLabel: {
        text: "Civil Service Learning",
        href: "/"
    },
    logotype: "crown"
}) }}

{{phaseBanner({
    tag: "BETA",
    contentHtml: 'Your <a href="' + feedbackRoot + '" target="_blank" rel="noopener noreferrer" title="The Civil Service Learning feedback survey will open in another window">feedback</a> will help us to improve.'
}) }}

{% include "./nav.njk" %}
