{% from "./components/navbarLink.njk" import navbar %}

<div class="content nav-container with-proposition">
    <div class="nav-content-container">
        {% include "./navBar.njk" %}
        {% include "./navbarSearch.njk" %}
    </div>
</div>
