<div class='search-container'>
    <div class="search-form-container">
        <form autocomplete="off" name="searchLearning" method="get" action="/search">
                <label class="visuallyhidden" for="q">Search all available learning</label>
                <input class="form-control search-box__input" id="q" type="text" name="q" placeholder="Search courses" value ="{{ pageModel.query }}">
                <button type="submit" class="button">Search</button>
        </form>
    </div>
</div>
