{#if type !== "single"}
    <div class="discite__properties {modifier ? `discite__properties--${modifier}` : ''} u-clearfix">
        <ul class="discite__property {modifier ? `discite__property--${modifier}` : ''}">
            <li class="discite__property-item">
                <span>Type:</span>
                <span class="lpg-course-type">{$i18n(module.type)}</span>
            </li>
            {#if module.duration !== '-' }
            <li class="discite__property-item">
                <span>Duration:</span>
                <span class="lpg-course-duration"> {module.duration || ''}</span>
            </li>
            {/if}
            {#if module.type !== 'file'}
                <li class="discite__property-item">
                    <span>Cost:</span>
                    <span class="lpg-course-cost">&pound;{module.cost || 'Free'}</span>
                </li>
            {/if}
        </ul>
        <div class="discite__status"><span class="badge badge--info ">{module.display_state ? $i18n(module.display_state) : ''}</span></div>
    </div>
{/if}