<div class="discite__action {modifier ? `discite__action--${modifier}` : ''}">
    {#if modifier === 'home' && cta.actionToRecord }
        <a href="{cta.actionToRecord.move}">Move to Learner Record</a>
        <a href="{cta.actionToRecord.skip}">I did not attend</a>
    {/if}
    {#if cta.url}
        <a href="{cta.url}">{cta.message}
            <span class="visuallyhidden">{cta.accessibilityHelper}</span>
        </a>
    {/if}

    {#if (cta.isInLearningPlan === true) && (modifier === 'search')}
        <span>Already in your learning plan</span>
    {/if}
    {#if cta.actionToPlan}
        {#if (cta.actionToPlan.url && cta.actionToPlan.type === 'Add')}
            <a class="lpg-add-from-search" href="{cta.actionToPlan.url}">Add to learning plan</a>
        {:elseif (cta.actionToPlan.url && cta.actionToPlan.type === 'Delete')}
            <a class="lpg-add-from-search" href="{cta.actionToPlan.url}">
                Remove <span class="visuallyhidden">from learning plan</span>
            </a>
        {:else}

        {/if}
    {/if}
</div>
