<div class="discite__action discite__action--module">
    {#if module.type === 'file'}
        <a download href="/courses/{course.id}/{module.id}">
            Download document
        </a> ({$fileHelpers.extension(module.url)} {$fileHelpers.appropriateFileSize(module.fileSize)})

    {:else}
        <a target="{module.type === 'link' ? '_blank' : '_self'}" href="/courses/{course.id}/{module.id}">
            { $i18n('action_' + (module.state || 'NOT_STARTED' )) } <span class="visuallyhidden"> this module</span>
        </a>
    {/if}
</div>