<div class="discite__properties {modifier ? `discite__properties--${modifier}` : ''} u-clearfix">
    <ul class="discite__property {modifier ? `discite__property--${modifier}` : ''}">
        <li class="discite__property-item">
            {#if course.record && course.record.state && course.record.state !== 'RETRIEVED' && course.record.state !== 'ARCHIVED' || successId}
            <div class="discite__status {modifier ? `discite__status--${modifier}` : ''}">
                <span class="badge badge--discite badge--{successId ? 'success' : 'info'}">{$i18n(successId ? 'justAdded' : course.record.state)}</span>
                {#if course.getSelectedDate()}
                <span class="meta">{$datetime.formatDate(course.getSelectedDate())}</span>
                {/if}
            </div>
            {/if}
        </li>
        <li class="discite__property-item">
            <span class="visuallyhidden">Type:</span>
            <span class="lpg-course-type">{$i18n(course.getType() || '' )}</span>
        </li>
        <li class="discite__property-item">
            <span class="visuallyhidden">Duration:</span> {course.getDuration() || ''}
        </li>
        {#if !course.isRequired($signedInUser)}
        <li class="discite__property-item">
            <span class="visuallyhidden">Cost:</span> &pound;{course.getCost() || 'Free'}
        </li>
        {/if}
    </ul>
</div>