<div class="discite__action discite__action--module">

    {#if course.status !== "Archive" }   
        {@html `<a href="${cta.url}" ${cta.learningAction.attribute} >`}
            {$i18n(cta.learningAction.text)}
        {@html `</a>`}  {cta.learningAction.fileHelper ? cta.learningAction.fileHelper : ''}
    {/if}

    {#if cta.actionToPlan}
        {#if (cta.actionToPlan.url && cta.actionToPlan.type === 'Add')}
            <a class="lpg-add-from-search" href="{cta.actionToPlan.url}">Add to learning plan</a>
            {:else}
               <span>{cta.message}</span>
        {/if}
    {/if}

</div>