<div class="discite__properties {modifier ? `discite__properties--${modifier}` : ''} u-clearfix">
    <ul class="discite__property {modifier ? `discite__property--${modifier}` : ''}">
        <li class="discite__property-item">
            {#if course.record && course.record.state && course.record.state !== 'COMPLETED' && course.record.state !== 'RETRIEVED' && course.record.state !== 'ARCHIVED' || successId}
            <div class="discite__status {modifier ? `discite__status--${modifier}` : ''}">
                {#if !course.getSelectedDate()}
                    <span class="badge badge--discite badge--{successId ? 'success' : 'info'}">{$i18n(successId ? 'justAdded' : course.record.state)}</span>
                {/if}
            </div>
            {/if}
        </li>
        <li class="discite__property-item">
            <span>Type:</span>
            <span class="lpg-course-type">{$i18n(course.getType() || '' )}</span>
        </li>
        <li class="discite__property-item">
            <span>Duration:</span> 
            <span class="lpg-course-duration">{course.getDuration() || '0'}</span>
        </li>
        {#if !course.isRequired()}
            <li class="discite__property-item">
                <span>Cost:</span>
                <span class="lpg-course-cost">&pound;{#if !course.getCost()}Free{:else}{course.getCost() + ' (ex VAT)'}{/if}</span>
            </li>
        {/if}
    </ul>
</div>
