{% macro courseCardDescription(params) %}
    <div class="discite__area">
        <p class="font-small discite__counter">
            This course has {{ params.moduleCount}} modules
        </p>
    </div>
    <div class="discite__desc {{ params.shortDescription.classes }}">
        {{ params.shortDescription.text }}
    </div>
{% endmacro %}
