.course {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid $grey-1;
	p {
		margin-bottom: 0;
	}
}

.course-grades-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.course-grades-list li {
  margin: 0;
}
