/* Global cookie message */

#global-cookie-message {
	width: 100%;
	background-color: $light-blue-25;
	padding-top: 10px;
	padding-bottom: 10px;
	p {
		@extend %site-width-container;
		@include core-16;
		margin-top: 0;
		margin-bottom: 0;
	}
}

a.menu {
	@include core-16;
	color: $black;
	display: block;
	text-decoration: none;
	padding-top: 6px;
	margin-right: 15px;
	font-weight: bold;
	position: relative;
	top: 5px;
	text-align: right;

	@include media(desktop) {
		display: none;
	}
	&:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 769px) {
	#global-header .header-wrapper .header-global .header-logo a .element-wrapper{
		display: flex;
		align-items: center;

		.service-name{
			margin-top: 0;
			margin-left: 10px;
		}
	}


}

.nav-container {
	max-width: 100%;
	background-color: $nav-background-color;
	margin: 0;

	.nav-content-container {
		@extend %site-width-container;
		@extend %contain-floats;

		@include media(desktop) {
			display: flex;
		}
	}
	@include media(desktop) {
		border-bottom: none;
		padding: 0;
	}

	@include media(1020px) {
		margin: 0 auto;
	}

}

.nav-search-container {
	max-width: 100%;
	padding: 15px 0;
	border: 0;
	background-color: $nav-background-color;

	.nav-search-content-container {
		@extend %site-width-container;
		@extend %contain-floats;
		input.search-box__input{
			width: 100%;

			@include media(desktop) {
				width: 620px;
			}
		}
	}

	@include media(desktop) {
		&.hidden {
			display: none;
		}
	}

}

a.js-header-toggle.menu{
	color: $nav-mobile-menu-link-color;
	&:focus {
		background-color: #fd0;
		outline: 3px solid rgba(0,0,0,0);
		box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
		color: $black;
	}
}

a.js-header-toggle.menu.js-hidden {
	display: block;

	@include media(desktop) {
		display: none;
	}

}

.menu__icon {
	font-size: 8px;
	height: 8px;
	padding-left: 2px;
	vertical-align: middle;
	display: inline-block;
}

.phase-tag
{
	background-color: #1d70b8 !important;
	padding: 4px 8px 1px 8px !important;
	margin-right: 10px !important;
}

.govuk-header__logotype-crown {
	display: inline-block;
	position: relative;
	margin-right: 2px;
	fill: currentcolor;
	vertical-align: top;
}

.search-container {
	align-self: center;
	margin-left: auto;
}

.search-form-container{
	form {
		display: flex;
		align-items: center;

		margin-top: 15px;

		@include media(desktop) {
			margin-top: 0;
			padding: 0;
		}

		input.search-box__input{
			width: 100%;

			@include media(desktop) {
				width: 180px;
			}
		}

		button.button{
			margin-left: 5px;
			width: 90px;
		}
	}
}