.govuk-box-highlight {
	background-color: $flash-message;
	&.results {
		padding: 1em;
		background-color: $flash-message;

		h1 {
			@extend .heading-large;
			margin-top: 0;
			text-transform: none;
		}

		div {
			font-size: 1.1em;
			margin-bottom: 0.5em;
			strong {
				font-weight: bold;
			}
		}
	}
}
