.search-box {
	margin-bottom: 0;

	@include e(input) {
		width: 100%;
		padding-right: 40px;
		float: right;
	}

	a {
		color: #fff !important;
	}

	p {
		margin-bottom: 0;
	}
}

.search-toggle__icon {
	color: white;
	height: 20px;
	pointer-events: none;
	width: 21px;
	padding-top: 5px;

	&.hidden {
		display: none;
	}
}

.search-toggle__close {
	display: block;
	font-size: 37px;
	font-weight: normal;
	line-height: 0.6;
	pointer-events: none;
	text-align: center;
	padding-top: 5px;

	&.hidden {
		display: none;
	}
}

.search-toggle__button {
	margin-left: auto;
	display: none;
	position: relative;
	overflow: hidden;
	width: 61px;
	height: 61px;
	border: 0;
	background-size: 64%;
	padding: 9px;
	cursor: pointer;
	background: none;
	box-shadow: none;
	color: #fff;
	font-weight: 700;

	&:focus {
		outline: none !important;
		box-shadow: none !important;
		border: 0;
	}

	&:focus-visible {
		outline: 3px solid rgba(0,0,0,0) !important;
		background: #fd0;
		color: #0b0c0c;
		box-shadow: 0 0 0 #0b0c0c;
		.search-toggle__close, .search-toggle__icon {
			color: $black;
		}

		&:after {
			background: $black;
		}

		&.active {
			color: $black;
			&:after {
				background: $black;
			}
		}

		&:hover {
			&:after {
				background: $black;
			}
		}
	}

	@include media(desktop) {
		display: block;
	}

	&:after {
		content: "";
		height: 5px;
		left: 10px;
		position: absolute;
		right: 10px;
		bottom: 1px;
		top: auto;
		color: white;
		background: none;
	}
	&:hover {
		&:after {
			background: $nav-link-color;
		}
	}

	&.active {
		color: $nav-link-color;
		&:after {
			background: $nav-link-color;
		}
	}

	&.hidden {
		display: none;
	}
}

.leftSearchBox {
	padding: 0;
	border-top: 0;

	.heading-medium {
		margin: 1rem 0 0.5rem;
	}
}

.no-border {
	.u--space--y30,
	.u--border--bgrey2 {
		border: none;
	}
}

input.form-control {
	height: 33px;

	@include media(641px) {
		height: 37px;
		padding: 6px 4px 4px 8px
	}
}
