{% macro notificationBanner(params) %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                {% if params.title %}
                    {{ params.title }}
                {% else %}
                    {{ i18n('components.notification_banner.default_heading') }}
                {% endif %}
            </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" id="govuk-notification-banner-content">
            {{ params.description }}
        </p>
      </div>
    </div>
{% endmacro %}
