{% macro courseActions(params) %}
    {% if params.isInLearningPlan != undefined %}
        <aside class="lpg-related-items lpg-related-items--course-actions" role="complementary">
            <h2 class="heading-medium">Actions</h2>
            {% if params.isInLearningPlan %}
                <a href="/courses/{{ params.courseId }}/delete">Remove from learning plan</a>
            {% else %}
                <a href="/suggestions-for-you/add/{{ params.courseId }}?ref=course">Add to Learning Plan</a>
            {% endif %}
        </aside>
    {% endif %}
{% endmacro %}
