@import 'common/utils';
@import 'custom';

@import 'common/variables';
@import 'common/fonts';
@import 'common/global';
@import 'common/typography';

@import 'utils/utils';
@import 'components/back-button';
@import 'components/banner';
@import 'components/bar-rating';
@import 'components/discite';
@import 'components/header';
@import 'components/footer';
@import 'components/home';
@import 'components/course';
@import 'components/leftSearchBox';
@import 'components/rightbox';
@import 'components/basket';
@import 'components/feedback';
@import 'components/filter';
@import 'components/govuk-related-items';

@import 'components/suggestions';
@import 'components/results';
@import 'components/booking';
@import 'components/search';
@import 'components/quiz';
@import 'components/search-results';
@import 'components/skip-link';
@import 'components/resource';
@import 'components/badge';
@import 'components/home-tile';
@import 'components/tables';
@import 'components/accessible-auto-complete';
@import 'components/pagination';
@import 'components/tabs';
@import 'components/levels';

@import 'components/videojs';

.phase-banner {
	@extend %site-width-container;
	@extend %contain-floats;
}

.phase-banner__content {
	word-break: normal;
}
.push-top {
	margin-top: 50px;
}

.push-bottom {
	margin-bottom: 30px;
	display: block;

	&.notice {
		margin-top: 30px;
	}
}

.view-all {
	@include e(button) {
		display: none;
	}
	.showing {
		display: none;
	}
	@include m(showing) {
		.hidden {
			display: none;
		}
		.showing {
			display: inline;
		}
	}
}

.js-enabled {
	.js-hidden {
		display: none;
	}
}

body {
	position: relative;
	min-height: 100vh;
}
.bottom-main {
	padding-bottom: 400px;
}

@media (min-width: 641px) {
	main {
		font-size: 19px;
		line-height: 1.31579;
	}
	.bottom-main {
		padding-bottom: 320px;
	}
}

body:not(.js-enabled) {
	.js-only {
		* {
			display: none;
		}
	}
}

.form-group .panel-border-narrow {
	float: initial !important;
}

.font-weight-regular {
	font-weight: normal;
}

.govuk-fieldset__legend--s {
	margin-bottom: 20px;
}

.vertical-center {
	margin: 0;
	padding-top: 15px;
	position: absolute;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.summary-page .date-and-time-container .vertical-center {
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.summary-page .date-and-time-container {
	display: inline-block;
	width: 25%;
}

.summary-page .date-and-time-value-container{
	display: inline-block;
	width: 60%;
}

@media only screen and (max-width: 700px) {
	.summary-page .date-and-time-value-container{
		text-align: right;
	}
}.width-10 {
	max-width: 23ex;
}

.chose-date .time-header {
	margin-left: 48%;
}

.chose-date .date-value {
	width: 50%;
	display: inline-block;
}

.no-margin-bottom.discite__property-item {
	margin-bottom: 0;
}
