@import 'custom';
@import 'common/variables';
@import 'common/utils';
@import 'common/global';

@import 'components/header';
@import 'components/footer';
@import 'components/course';
@import 'components/rightbox';
@import 'components/basket';
@import 'components/feedback';
@import 'components/learning';
@import 'components/results';
@import 'components/booking';
@import 'components/search';

.push-bottom {
	margin-bottom: 30px;
	display: block;
}

.view-all {
	@include e(button) {
		display: none;
	}
	.showing {
		display: none;
	}
	@include m(showing) {
		.hidden {
			display: none;
		}
		.showing {
			display: inline;
		}
	}
}

.js-enabled {
	.js-hidden {
		display: none;
	}
}

body:not(.js-enabled) {
	.js-only {
		* {
			display: none;
		}
	}
}
