<Page title="Contact us" {_csrf}>
    <div class="container container--main">
        <div class="grid-row">
            <div class="column-full">
                <h1 class="heading-xlarge heading heading--page-heading ">
                    Contact us
                </h1>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-full">
                <p class="govuk-body">You can contact the helpdesk on <a href="tel:{contactNumber}">{contactNumber}</a> or by email on <a href="mailto:{contactEmail}">{contactEmail}</a>.</p>
                <p class="govuk-body">The helpdesk phone service is available Monday to Friday 8:30am to 5:30pm except all UK bank holidays.</p>
            </div>
        </div>

    </div>
</Page>
<script>
    import Page from '../component/Page.html'

    export default {
        data() {
            return {
            }
        },

        components: {
            Page,
        }
    };
</script>
