<Page title="{$i18n('suggestions_page_title')}">
    <div class="container">
        <div class="grid-row">
            <div class="column-full">
                <Search>
                    <h1 class="heading heading-large heading--flush">
                        {$i18n('suggestions_page_title')}
                    </h1>
                </Search>
                <div class="suggestions-links">
                    <p class="govuk-body">{$i18n('home_page_suggestions', $i18n('proposition_name'))}</p>
                    <div class="suggestions-wrapper">
                        <div class="suggestions-container">
                            <p class="govuk-body header">organisation</p>
                            {#if !$isEmpty(department) }
                            <ul>
                                <li>
                                    <a href="/suggestions-for-you/#{$getFirstKey(department)}">{$signedInUser.organisationalUnit.name}</a>
                                </li>
                            </ul>
                            {/if}
                        </div>
                        <div class="suggestions-container">
                            <p class="govuk-body header">primary area of work</p>
                            {#if !$isEmpty(areaOfWork) }
                            <ul>
                                <li>
                                    <a href="/suggestions-for-you/#{$getFirstKey(areaOfWork)}">{$getFirstKey(areaOfWork)}</a>
                                </li>
                            </ul>
                            {/if}
                        </div>
                        <div class="suggestions-container">
                            <p class="govuk-body header">other areas of work</p>
                            {#if !$isEmpty(otherAreasOfWork) }
                            <ul>
                                {#each $getKeys(otherAreasOfWork) as otherAreasOfWork}
                                <li>
                                    <a href="/suggestions-for-you/#{otherAreasOfWork}">{otherAreasOfWork}</a>
                                </li>
                                {/each}
                            </ul>
                            {/if}
                        </div>
                        <div class="suggestions-container">
                            <p class="govuk-body header">interests</p>
                            {#if !$isEmpty(interests) }
                            <ul>
                                {#each $getKeys(interests) as interest}
                                <li>
                                    <a href="/suggestions-for-you/#{interest}">{interest}</a>
                                </li>
                                {/each}
                            </ul>
                            {/if}
                        </div>
                    </div>
                    <div class="change-settings-container">
                        <p class="govuk-body">You can change the preferences in <a href="/profile">your profile page</a>.</p>
                    </div>
                </div>
                {#if successTitle}
                <Banner type="confirmation" title={successTitle} message={successMessage} />
                {/if}
            </div>
        </div>
    </div>
    {#if !$isEmpty(department)  }
    {#if !$isEmpty(department[$getFirstKey(department)]) }
    <SuggestionsSection id={$getFirstKey(department)} title={$signedInUser.organisationalUnit.name} code={$getFirstKey(department)} suggestedLearning="{department[$getFirstKey(department)]}" home={false} type="department" />
    <div class="container"><div class="column-full"><p class="back-to-top"><a href="/suggestions-for-you/#">&uarr; Back to top</a></p></div></div>
    {/if}
    {/if}

    {#if !$isEmpty(areaOfWork)  }
    {#if !$isEmpty(areaOfWork[$getFirstKey(areaOfWork)]) }
    <SuggestionsSection id={$getFirstKey(areaOfWork)} title={$getFirstKey(areaOfWork)}  code={$getFirstKey(areaOfWork)}  suggestedLearning="{areaOfWork[$getFirstKey(areaOfWork)]}" home={false} type="areaOfWork" />
    <div class="container"><div class="column-full"><p class="back-to-top"><a href="/suggestions-for-you/#">&uarr; Back to top</a></p></div></div>
    {/if}
    {/if}

    {#if !$isEmpty(otherAreasOfWork)  }
    {#each $getKeys(otherAreasOfWork) as otherAreaOfWork}
    {#if !$isEmpty(otherAreasOfWork[otherAreaOfWork])  }
    <SuggestionsSection id={otherAreaOfWork} title={otherAreaOfWork}  code={otherAreaOfWork}  suggestedLearning="{otherAreasOfWork[otherAreaOfWork]}" home={false} type="areaOfWork" />
    <div class="container"><div class="column-full"><p class="back-to-top"><a href="/suggestions-for-you/#">&uarr; Back to top</a></p></div></div>
    {/if}
    {/each}
    {/if}
    {#if !$isEmpty(interests)  }
    {#each $getKeys(interests) as interest}
    {#if !$isEmpty(interests[interest])  }
    <SuggestionsSection id={interest} title={interest}  code={interest}  suggestedLearning="{interests[interest]}" home={false} type="interest" />
    <div class="container"><div class="column-full"><p class="back-to-top"><a href="/suggestions-for-you/#">&uarr; Back to top</a></p></div></div>
    {/if}
    {/each}
    {/if}
</Page>

<script>
	import Page from '../component/Page.html'
	import Banner from '../component/Banner.html'
	import SuggestionsSection from '../component/SuggestionsSection.html'
	import Search from '../component/Search.html'

	export default {
		data() {
			return {
			}
		},

		components: {
			Page,
			Banner,
			SuggestionsSection,
			Search
        }
	}
</script>
